.grid_1{
	width:60px;
}
.grid_2{
	width:140px;
}
.grid_3{
	width:220px;	
}
.grid_4{
	width:300px;
}
.grid_5{
	width:380px;
}
.grid_6{
	width:460px;	
}
.grid_7{
	width:540px;	
}
.grid_8{
	width:620px;
}
grid_9{
	width:700px;
}
.grid_10{
	width:780px;
}
.grid_11{
	width:860px;	
}
.grid_12
{
	width:940px;
}
.wrapper{
	width:87.5;
	margin:0 auto;	
}
.wrapper-menu{
 width:94%;
 margin:0 auto;	
}
.wrapper_960{
	width:960px;
	margin-left:auto;
	margin-right:auto;
	
	
	display:block;
}

.wrapper_960:after{
	content:"";
	clear:both;
	display:block;
	visibility:hidden;
	height:0;
}
.wrapper-1100{
	width:1100px;
	margin:0 auto;	
}
.wrapper_1400{
	width:1400px;
	margin-left:auto;
	margin-right:auto;
	float:left;
	padding:0 10px;
	display:block;
}
.wrapper_1400:after{
	content:"";
	clear:both;
	display:block;
	visibility:hidden;
	height:0;
}
.row{
	min-width:200px;
	max-width:1400px;
	padding-left:5%;
	padding-right:5%;
}
.row:after{
	content:"";
	clear:both;
	display:block;
	visibility:hidden;
	height:0;
}
.row .one-half{
	width:50%;	
}
.row .one-third{
	width:33.3333%;	
}
.row .two-third{
	width:66.6666%;	
}
.row .one-quarter{
	width:25%;
}
.row .three-quarter{
	width:75%;
}
.row .one-fifth{
	width:20%;	
}
.row .two-fifth{
	width:40%;	
}
.row .three-fifth{
	width:60%;	
}
.row .four-fifth{
	width:80%;	
}
.row .one-sixth{
	width:16.6666%;
}
.row .five-sixth{
	width:83.3333%;
}
.one-half,.one-third,.two-third,.one-quarter,.three-quarter,.one-fifth,.two-fifth,.three-fifth,.four-fifth,.one-sixth,.five-sixth{
	padding:1.6%;
	float:left;
	display:block;
	box-sizing:border-box;	
}
.fixed-menu > .wrapper_960{
	position:relative;
	height:83px;	
}
header .five-sixth{
	padding:0 1.5%!important;
}