img{
	max-width:100%;	
	height:auto;
}
.container{
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
@media screen and (min-width:768px){
	.wrapper{
		width:92.1875%;
	}
	#header-joining{
	margin-bottom:1%;	
	}
	.floatbox1{
	width:49%;
	float:left;
	
	}
	.floatbox2{
	width:49%;
	float:left;	
	
	}

	.floatbox3{
	width:49%;
	float:right;	
	
	}
	.floatbox1-sec{
	width:100%	
	}
	
	.floatbox2-sec{
	width:100%	
	}
	
	.floatbox3-sec{
	width:100%	
	}
	
	
	.column-1{
		width:100%
	}
	.column-1 img{
		width:75%;
		margin:0 auto;
		
	}
	.column-2{
		width:100%
	}
	.column-2 img{
		width:75%;
		margin:0 auto;
		padding-right:20px;
		text-align:center;
	}
	.floatbox1-sec-1_3{
		width:100%
	}
	.floatbox2-sec-1_3{
		width:100%
	}
	.floatbox3-sec-1_3{
		width:100%
	}
	.review-float-left{
		width:100%;
	}
	.review-float-right{
		width:100%;
	}
	.review-float-less{
		width:100%;
	}
	.review-float-left-2{
	width:100%;	
	}
	.review-float-right-2{
	width:100%;	
	}
	.review-float-less-2{
	width:100%;	
	}
	.review-float-left-3{
	width:100%;	
	}
	.review-float-right-3{
	width:100%;	
	}
	.review-float-less-3{
	width:100%;	
	}
}
@media screen and (min-width:1023px){
	.wrapper{
	width:94.140625%;	
	}
	.floatbox1{
	width:30.6666%;
	margin-bottom:3.5%;
	margin-left:2.0%;
	float:left;	
	}
	.floatbox2{
	width:30.6666%;	
	float:left;	
	
	}
	.floatbox3{
	width:30.6666%;	
	float:left;	
	margin-left:2.0%;
	}
	.floatbox1-sec{
	width:29.6666%;
	margin-left:2%;
	float:left;
		
	}
	.floatbox2-sec{
	width:29.6666%;
	margin-left:0%;
	float:left;
		
	}
	.floatbox3-sec{
	width:29.6666%;
	margin-left:0%;
	float:left;
		
	}
	.column-1{
		width:45%;
		float:left;
	}
	.column-1 img{
		width:100%;
		margin:0 auto;
		
	}
	.column-2{
		width:45%;
		float:left;
	}
	.column-2 img{
		width:100%;
		margin:0 auto;
		padding-right:20px;
		text-align:center;
	}
	.floatbox1-sec-1_3{
		width:29.6666%;
		float:left;
		margin-left:2%;
		height:235px;
	}
	.floatbox2-sec-1_3{
		width:29.6666%;
		float:left;
		height:235px;
	}
	.floatbox3-sec-1_3{
		width:29.6666%;
		float:left;
		height:235px;
	}
	.review-float-left{
		width:49.7%;
		float:left;
	}
	.review-float-right{
	width:24.6%;
	float:left;	
	}
	.review-float-less{
	width:24.9%;	
	}
	.review-float-left-2{
	width:24.7%;
	float:left;
	}
	.review-float-right-2{
	width:24.8%;
	float:left;
	}
	.review-float-less-2{
	width:49.8%;
	}
	.review-float-left-3{
		width:69.8%;
		float:left;
		
	}
	.review-float-right-3{
		width:29.7%;
		float:left;
		
	}
	.passage-footer-float-left{
	width:24%;
	float:left;
	padding-left:25px;
	}
	.passage-footer-float-right{
	width:28.4%;
	float:right;
	}
	.passage-footer-float-less-right{
	width:20%;
	float:right;
	}
	.passage-footer-float-less-left{
	width:25%;
	float:right;
	}
	.end-right{
	text-align:right;	
	margin:-35px 0px;
	}
}




ul.topnav li.icon {display: none;}

@media screen and (max-width:1000px) {
  ul.topnav li {display: none;}
  ul.topnav li.icon {
    float: left;
    display: inline-block;
  }
}

@media screen and (max-width:10000px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right:0;
    top: 0;
	
	 }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
}