/*@import url(http://weloveiconfonts.com/api/?family=fontawesome);*/

[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}
body{
	margin:0;
	box-sizing:border-box;
	/*line-height: 0.6em;*/
}
h2{
	font-size: 1.1em;
	font-weight:400;
}
img{
	border-style: none;
	vertical-align: top;
	max-width: 100%;
	height: auto;	
}
h1{
	font-size:1.1em;
	font-weight: 400;
	margin-top: 0.67em;
	margin-bottom: 0.67em;
	line-height: 67.633px;
	padding-top: 10.25%;
	position:relative;
}
header {
}
.h1{
	margin:0;
	font-family: 'webfontregular';
	text-align: center;
	font-size: 57.971px;
	line-height: 90.633px;
	font-weight: 400;
	color:rgba(247,247,247,1.00);
}
@font-face {
    font-family: 'webfontregular';
    src: url('fonts/museo_slab_300-webfont-webfont.woff2') format('woff2'),
         url('fonts/museo_slab_300-webfont-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src:url("fonts/ATKpv8nLYAKUYexo8iqqrg.woff2") format("woff2");
}
@font-face {
    font-family: 'qlassik_mediumregular';
    src: url('fonts/qlassik_tb-webfont.woff2') format('woff2'),
         url('fonts/qlassik_tb-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'qlassik_boldregular';
    src: url('fonts/qlassikbold_tb-webfont.woff2') format('woff2'),
         url('fonts/qlassikbold_tb-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.after-h1{
	border-style: none;
	vertical-align: top;
	max-width: 100%;
	height: auto;
		
}

a {
	text-decoration:none;
	
}

#header-neva{
	margin-top:3%;
	clear:both;
	text-align:center;
	margin:0 auto;
	background-image:url(image/avada_collage_design21.jpg);
	background-size:cover;
	vertical-align: top;
	max-width: 100%;
	height: auto;
	transform: translate3d(0px, 0px, 0px);
	padding-bottom:-2px;
	border-style: none;
	padding-top:2%;
	}
#header-neva img{
    line-height: 0.6em;
padding-bottom:-0.2%;
max-width: 100%;
height:auto;
}
#header-joining{
	font-size:2em;
	color:#333;
	text-align:center;
	margin:0 auto;
	font-weight:normal;
	margin-top:5%;
	margin-bottom:38%;
	font-family: 'webfontregular';
	
}
.number-link a{
	text-decoration:none;	
	font-family: 'PT Sans';
	text-align: center;
	font-size: 37px;
	line-height: 38.647px;
	font-weight:400;
	padding:33px 0px;
	color:#A0CE4E;
}
.number-link-2{
	text-decoration:none;	
	font-family: 'PT Sans';
	text-align: center;
	font-size: 58px;
	line-height: 38.647px;
	font-weight:400;
	padding:20px 0px;
}
.number-link-2 a{
color:#A0CE4E;
}
.column-2-buttom{
	clear: both;
	margin: 0px auto;
	text-align: center;
	font-family: "PT Sans";
	margin-top:5%;
	margin-bottom:5%;
}
.column-2-buttom a{
	background-color:#A0CE4E;
	border:1px solid #A0CE4E;
	border-radius: 2px;
	font-family: "PT Sans";
	font-weight: 700;
	color: rgba(255, 255, 255, 0.9);
	transition: all 0.2s ease 0s;
	padding: 2% 4%;
	line-height: 21px;
	font-size: 18px;
	cursor: pointer;
	text-decoration: none;
	
}
.column-2-buttom:hover a{
	    color: rgba(255,255,255,.8);
}
#header-joining-passage{
	font-weight:400;
	color:#333;
	text-align:center;
	margin:0 auto;
	font-size: 20px;
	line-height: 29px;
	margin-bottom: 20px;
	font-family: "PT Sans";
}
	
#after-header{
	clear:both;
	padding-top:25px;
	text-align:center;
	margin:0 auto;
	margin-bottom:0px;
	
}
#after-header-2{
	clear:both;
	padding-top:25px;
	text-align:center;
	margin:0 auto;
	margin-bottom:0px;
	padding:80px 0px;
}
#after-header-3{
	clear:both;
	padding-top:25px;
	text-align:center;
	margin:0 auto;
	margin-bottom:-80px;
	padding:80px 0px;
}
.passage-after-header{
color:#FFFFFF;
text-align:center;
margin:0 auto;
margin-bottom:0px;
background-color: #A0CE4E;
font-size: 2em;
line-height: 38.647px;
font-weight: 400;
font-family: 'webfontregular';
padding-top:50px;
}
.passage-after-header-2{
color:#FFFFFF;
text-align:center;
margin:0 auto;
margin-bottom:0px;
background-color: #A0CE4E;
font-size: 23.985px;
line-height: 38.647px;
font-weight: 400;
font-family: 'webfontregular';
padding-top:30px;

}
.passage-after-header-3{
color:#FFFFFF;
text-align:center;
margin:0 auto;
margin-bottom:0px;
background-color: #A0CE4E;
font-size: 22px;
line-height: 21px;
font-family: "PT Sans";
font-weight: 700;
padding-top:70px;
padding-bottom:30px;

}
.passage-after-header-5{
color:rgba(255, 255, 255, 0.7);
text-align:center;
margin:0 auto;
margin-bottom:0px;
background-color: #A0CE4E;
font-size: 1.1em;
line-height: 21px;
font-family: "PT Sans";
font-weight: 700;
padding-top:70px;
padding-bottom:20px;
margin-top:-25px;

}
.passage-after-header-6{
color:#333;
text-align:center;
margin:0 auto;
margin-bottom: 0.7em;
background-color: #F2F2F2;
font-size: 27.985px;
line-height: 38.647px;
font-family: 'webfontregular';
font-weight: 400;
padding-top:50px;
padding-bottom:20px;
margin-top:-25px;

}
.passage-after-header-6-2{
color:#333;
text-align:center;
margin:0 auto;
margin-bottom: 0.7em;
background-color: #FFF;
font-size: 27.985px;
line-height: 38.647px;
font-family: 'webfontregular';
font-weight: 400;
padding-top:30px;
padding-bottom:0px;
margin-top:-25px;


}
.passage-after-header-bg{
color:#FFFFFF;
text-align:center;
margin:0 auto;
margin-bottom:0px;
background-color: #A0CE4E;
font-size: 27.985px;
line-height: 38.647px;
font-weight: 400;
font-family: 'webfontregular';
padding-top:50px;
background-position: center center;
background-repeat: no-repeat;
background-size: cover;
background-image:url(image/call_to_action_fusion_builder-2.jpg);
margin-top:35px;
}
.passage-after-header-3 a{
color:rgba(255,255,255,1.00);
border:2px solid rgba(255, 255, 255, 0.7);
border-radius:2px;
padding: 18px 41px;
line-height: 21px;
animation-fill-mode: both;
animation-duration: 1s;
transition: all 0.2s ease 0s;
}
.passage-after-header-3 a:hover{
background-color:#AAD163;	
}
.passage-after-header-5 a{
color:rgba(255, 255, 255, 0.7);
border:2px solid rgba(255, 255, 255, 0.7);
border-radius:2px;
padding: 2% 4%;
line-height: 21px;
animation-fill-mode: both;
animation-duration: 1s;
transition: all 0.2s ease 0s;
}
.passage-after-header-5 a:hover{
background-color:#AAD163;	
}
.passage-after-header-4{
color: rgba(0,0,0,1.00);
text-align:center;
margin:0 auto;
margin-bottom:0px;
background-color: #FFF;
font-size: 24.985px;
line-height: 38.647px;
font-weight: 400;
font-family: 'webfontregular';
padding: 55px 0px 40px;

}
.passage-after-header-fontsize{
	font-size:22px;
	max-width:1400px;
	text-align:center;
	margin:0 auto;
	padding-bottom:50px;
	font-family: "PT Sans";
	background-color: #A0CE4E;
	line-height: 29px;
	color:#E4EFD1;
	
}
.passage-after-header-fontsize-pink{
	font-size:22px;
	max-width:1400px;
	text-align:center;
	margin:0 auto;
	padding-bottom:50px;
	font-family: "PT Sans";
	background-color: #A46498;
	line-height: 29px;
	color:#E2D8E0;
	padding-left:20px;
	padding-right:20px;
	margin-bottom:5px;
}
.passage-after-header-fontsize-trending{
	font-size:22px;
	max-width:1400px;
	text-align:center;
	margin:0 auto;
	padding-bottom:50px;
	font-family: "PT Sans";
	background-color: #A0CE4E;
	line-height: 29px;
	color:#E4EFD1;
	padding-left:20px;
	padding-right:20px;
}
.passage-after-header-fontsize-trending-bg{
	font-size:22px;
	max-width:1400px;
	text-align:center;
	margin:0 auto;
	padding-bottom:80px;
	font-family: "PT Sans";
	line-height: 29px;
	color:#FFF;
	padding-left:20px;
	padding-right:20px;
}
.passage-after-header-fontsize-trending-bg a{
	text-decoration:none;
	border:2px solid rgba(255, 255, 255, 0.7);
	background: rgba(255, 255, 255, 0.1) none repeat scroll 0% 0%;
	border-radius: 3px;
	padding: 17px 40px;
	line-height: 21px;
	font-size: 18px;
	cursor: pointer;
	box-sizing: border-box;
	transition: all 0.2s ease 0s;
	text-transform: uppercase;
	color:rgba(255,255,255,1.00);
}
.passage-after-header-fontsize-trending-bg a:hover {
	
    background: rgba(255, 255, 255, 0.25);
}
.passage-after-header-fontsize-trending-2{
	font-size:22px;
	max-width:1400px;
	text-align:center;
	margin:0 auto;
	padding-bottom:50px;
	font-family: "PT Sans";
	background-color: #A0CE4E;
	line-height: 29px;
	color:#E4EFD1;
	padding-left:20px;
	padding-right:20px;
}
.passage-after-header-fontsize-less{
	font-size:22px;
	max-width:1400px;
	text-align:center;
	margin:0 auto;
	padding-bottom:60px;
	font-family: "PT Sans";
	background-color: #A0CE4E;
	line-height: 29px;
	color:#E4EFD1;
	
}.passage-after-header-fontsize-less-left{
	font-size:22px;
	max-width:1400px;
	text-align:center;
	margin:0 auto;
	padding-bottom:53px;
	font-family: "PT Sans";
	background-color: #A0CE4E;
	line-height: 29px;
	color:#E4EFD1;
	
}
.passage-after-header-fontsize-2{
	font-size:22px;
	max-width:1400px;
	text-align:center;
	margin:0 auto;
	padding-bottom:30px;
	font-family: "PT Sans";
	background-color: #FFF;
	line-height: 29px;
	color: #747474;
	margin-bottom: 20px;
}
.passage-after-header-fontsize-3{
	font-size:22px;
	max-width:1400px;
	text-align:center;
	margin:0 auto;
	padding-bottom:30px;
	font-family: "PT Sans";
	background-color: #F2F2F2;
	line-height: 29px;
	color: #747474;
	margin-bottom: 20px;
	padding-left:10px;
	padding-right:10px;
}
.passage-after-header-fontsize-3-2{
	font-size:22px;
	max-width:1400px;
	text-align:center;
	margin:0 auto;
	padding-bottom:5px;
	font-family: "PT Sans";
	background-color: #FFF;
	line-height: 29px;
	color: #747474;
	margin-bottom: 20px;
	padding-left:24px;
	padding-right:24px;
}
.passage-link a{
	color:#fff;
	font-size:21px;
}
#img-comments{
	clear:both;
	padding-top: 90px;
	text-align:center;
	margin:0 auto;
	margin-bottom:0px;
	max-width: 100%;
	background-color: #F6F6F6;
	margin-top: -24px;
	height:auto;
	}
	#img-comments-2{
	clear:both;
	padding-top: 110px;
	text-align:center;
	margin:0 auto;
	margin-bottom:-65px;
	max-width: 100%;
	background-color: #F6F6F6;
	margin-top: -25px;
	height:auto;
	}
#six-images img{
	padding:15px;
	
	text-align:center;
	margin:0 auto;
}
#six-images{
	width:90%;
	text-align:center;
	margin:0 auto;
}
.bg1{
	background-image:url(image/block_bkgd2.jpg);
	min-height:700px;
	background-attachment:fixed;
    background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
	margin-top:-25px;
	}
	.bg4{
	background-image:url(image/wood_dark_bkgd_bw1.jpg);
	padding-bottom: 30px;
	padding-top: 65px;
	/*padding-left: 20px !important;
	padding-right: 20px !important;*/
	background-color: #FFF;
	background-position: left top;
	background-repeat: repeat;
	min-height:300px;
	}
	.bg5{
	background-image:url(image/wood_dark_bkgd_bw1.jpg);
	padding-bottom: 30px;
	padding-top: 65px;
	/*padding-left: 20px !important;
	padding-right: 20px !important;*/
	background-color: #FFF;
	background-position: left top;
	background-repeat: repeat;
	}
	.bg3{
	background-image:url(image/avada_collage_design1.jpg);
	min-height:700px;
	background-attachment:fixed;
    background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
	margin-top:-25px;
	}
	#six-images-with-description{
	text-align: center;
	margin: 0 auto;
	font-family: 'qlassik_mediumregular' , san-serif;
	color: #DDD8D8;
	width: auto;	
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	line-height:30px;
		
	}
	#six-images-with-description img{
		border-radius:10px 10px 10px 10px;
		display:block;
	}
	#six-images-with-description a{
	text-decoration: none;
	border: 1px solid #fff;
	background-color: #969696;
	background: #97979;
	border-radius: 10px 10px 10px 10px;
	padding-top: 5px;
	padding-right: 20px;
	padding-left: 20px;
	padding-bottom: 5px;
	color:#353535;
	
	}
	#six-images-with-description a:hover{
			-moz-box-shadow:0 0 15px #fff;
			-webkit-box-shadow:0 0 15px #fff;
			box-shadow:0 0 15px #fff;
	}
	
	.column1{
	clear:both;
	width:25%;
	float:left;
	text-align: center;
	margin: 0 auto;
	font-family: 'qlassik_mediumregular' , san-serif;
	padding-top:50px;
	padding-bottom:50px;
	margin-top:30px;
	margin-bottom:30px;
	line-height:5em;
	font-size:28px;
	
	}
	.column2{
		width:50%;
		float:right;
		text-align:center;
		margin:0 auto;
		padding-top:50px;
	}
	.column-2-h2{
		text-align: center;
		font-family:'webfontregular';
		font-weight: 400;
		line-height: 1.5;
		color:#333;
		margin:40px 0px;
		
		
	}
	.borderbox{
		box-sizing:border-box;
		-moz-box-sizing:border-box;
		-webkit-box-sizing:border-box;
		overflow:hidden;
	}
	.column3{
		width:25%;
		text-align:center;
		margin:0 auto;
		font-family:'webfontregular';
		font-size:23px;
		padding-top:50px;
		padding-bottom:50px;
	    margin-top:30px;
	    margin-bottom:30px;
		background:#C4C4C4;
	    
	}
	
.table3{
	text-align:center;
	margin:0 auto;
	width:90%;
}
.table3 a{
	border-radius:10px 10px 10px 10px;
}
		.bg2{
	background-image:url(image/review_bkgd321.jpg);
	min-height:500px;
	background-attachment:fixed;
    background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
	margin-top:-25px;
	}
    .review-float-left{
	width:100%;
	text-align:center;
	margin:0 auto;
	font-family: 'PT Sans';
	font-size:21px;
	float:left;
	background:#FFF;
	margin-top:20px;
	min-height:320px;
	border:1px solid #EAEAEA;
	color:#747474;
	height: auto;
	}
	.review-float-right{
	width:100%;
	text-align:center;
	margin:0 auto;
	font-family: 'PT Sans';
	font-size:21px;
	float:right;
	background:#FFF;
	overflow:hidden;
	margin-top:20px;
	min-height:340px;
	border:1px solid #EAEAEA;
	color:#747474;

	}
	.review-float-less{
	width:100%;
	text-align:center;
	margin:0 auto;
	font-family: 'PT Sans';
	font-size:19px;
	float:right;
	background:rgba(255, 255, 255, 0.85);
	overflow:hidden;
	margin-top:19px;
	margin-right:1px;
	min-height:330px;
	max-height:389px;
	border:1px solid #3E3E3E;
	color:#747474;
	height:auto;
	}
	.undertitle{
	text-align:center;
	font-size:14px;
	color:#747474;
	font-family: "PT Sans";
	font-weight: 400;
	}
	.passage-after-header-review{
color:#2A2A2A;
text-align:center;
font-family:'webfontregular';
margin:0 auto;
padding-top:20px;
padding-bottom:20px;

	}
	.passage-after-header-review h2{
		border:2px solid #000000;
		border-radius:15px;
		padding:20px 20px 20px 20px;
		background:#ADADAD;
	}
	.review-float-left-2{
	width:100%;
	text-align:center;
	margin:0 auto;
	font-family: 'PT Sans';
	font-size:21px;
	float:left;
	background:rgba(255, 255, 255, 0.85);
	margin-top:20px;
	min-height:320px;
	border:1px solid ;
	color:#747474;
	}
	.review-float-left-3{
	width:100%;
	text-align:center;
	margin:0 auto;
	font-family: 'PT Sans';
	font-size:21px;
	float:left;
	background:rgba(255, 255, 255, 0.85);
	margin-top:20px;
	min-height:320px;
	border:1px solid ;
	color:#747474;
	}
	.review-float-right-2{
	width:100%;
	text-align:center;
	margin:0 auto;
	font-family: 'PT Sans';
	font-size:21px;
	float:right;
	background:rgba(255, 255, 255, 0.85);
	overflow:hidden;
	margin-top:20px;
	min-height:320px;
	border:1px solid ;
	color:#747474;
	}
	.review-float-right-3{
	width:100%;
	text-align:center;
	margin:0 auto;
	font-family: 'PT Sans';
	font-size:21px;
	float:right;
	background:rgba(255, 255, 255, 0.85);
	overflow:hidden;
	margin-top:20px;
	min-height:320px;
	border:1px solid ;
	color:#747474;
	}
	.review-float-less-2{
		width:100%;
	text-align:center;
	margin:0 auto;
	font-family: 'PT Sans';
	font-size:21px;
	float:right;
	background:#FFF;
	overflow:hidden;
	margin-top:20px;
	min-height:320px;
	border:1px solid ;
	color:#747474;
	}
	.image-pad img{
		padding-top:30px;
		padding-bottom:30px;
	}
	.review-bg{
		background-image:url(image/bg1.jpg);
	min-height:950px;
	background-attachment:fixed;
    background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
	}
	.review-border{
		border:0px solid #000000;
		padding-left:30px;
		padding-right:30px;
		padding-bottom:100px;
		padding-top:90px;
	}
	.passage-after-header-pink{
color:#FFFFFF;
background:#A46498;
text-align:center;
font-family:'webfontregular';
font-weight: 400;
margin:0 auto;
margin-bottom:-20px;
padding-top:50px;
padding-bottom:30px;
font-size: 30px;
line-height: 40px;
}
.clearFix-last-img{
clear:both;
text-align:center;
margin-top:20px;
margin-bottom:30px;
background-image:url(image/header-bg-blur.jpg);
	background-size:cover;

}
.footer{
	clear:both;
	font-family: "PT Sans";
	font-weight: 400;
	font-size: 14px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	overflow:hidden;
	min-height:550px;
	margin-top:-34px;
	background-color: #363839;
	border-color: #E9EAEE;
	border-top-width:12px;
	padding-top: 60px;
	padding-bottom: 55px;
	line-height: 1.69;
}
.footer h3{
color:#DDD;
}
.passage-footer-float-left{
	width:100%;
	
    background:#363839;
	text-align:center;
	color:#8C8989;
	padding-top:4%;
	
}
.passage-footer-float-right{
	width:100%;
	
    background:#363839;
	text-align:center;
	color:#8C8989;
	padding-bottom:30px;
	padding-top:30px;
}
.passage-footer-float-right-table{
	padding:20px 20px 20px 20px;
}
.passage-footer-float-right-table-1{
	float:left;
	width:24%;
	text-align:center;
	
}
.passage-footer-float-right-table-1{
	float:left;
	width:24%;
	text-align:center;
	padding-bottom:10px;
	
}
.passage-footer-float-right-table-2{
	float:left;
	width:24%;
	text-align:center;
	padding-bottom:10px;
}
.passage-footer-float-right-table-3{
	float:left;
	width:24%;
	text-align:center;
	padding-bottom:10px;
}
.passage-footer-float-right-table-4{
	float:left;
	width:24%;
	text-align:center;
	padding-bottom:10px;
}
.passage-footer-float-right-table-5{
	float:left;
	width:24%;
	text-align:center;
	padding-bottom:10px;
}
.passage-footer-float-right-table-6{
	float:left;
	width:24%;
	text-align:center;
	padding-bottom:10px;
}
.passage-footer-float-right-table-7{
	float:left;
	width:24%;
	text-align:center;
	padding-bottom:10px;
}
.passage-footer-float-right-table-8{
	width:24%;
	text-align:center;
	padding-bottom:10px;
}

.passage-footer-float-right-table img{
	transition: all 0.2s ease 0s;
}
.passage-footer-float-right-table img:hover{
	    opacity:0.4;
}
	.passage-footer-float-less-right{
	width:100%;

    background:#363839;
	text-align:center;
	color:#8C8989;
	padding-bottom:30px;
	padding-top:35px;
	}
	.passage-footer-float-less-left{
	width:100%;
    background:#363839;
	text-align:center;
	color:#8C8989;
	padding-bottom:30px;
	padding-top:35px;
	}
	.footer-logo{
		text-align:center;
		width:100%;
		margin-bottom:-5px;
	}
	.middle-link a{
		color:#BFBFBF;
	}
	.middle-link a:hover{
	color:#a0ce4e;
	}
	.footer-line-link a{
	color:#BFBFBF;	
	padding:10px 25px;
	}
	.dash{
	letter-spacing:-3px;
	color:rgba(88,88,88,1.00);	
	text-align:left;
	}
	.footer-line-link a:hover{
		color:#a0ce4e;
	}
	.posts{
		color: #BFBFBF;
	}
	.the-end{
		width:100%;
		background-color:#282A2B;
		border-color: #4B4C4D;
		border-top:1px solid #4B4C4D;
		padding-top:40px;
		padding-bottom:40px;
		
		position: relative;
		background: #282A2B none repeat scroll 0% 0%;
		color:#747474;
		font-size: 14px;
		font-family: "PT Sans";
		font-weight: 400;
	}
	.end-right{
	text-align:center;
	width:100%;
	padding-bottom:10px;
	
	}
	ul.menu > li{
	font-family: 'Museo Slab 300';
	font-size: 18px;
	font-weight:400;
}
.button-font{	
	font-family:'PT Sans';
	font-weight:bold;	
}
img{
	height:auto;
	max-width:100%;
}
.hidden{
	visibility:hidden;	
}
#logo-holder{
	padding:29px 0!important;
	line-height:0;
	font-size:0;
}
header .five-sixth{
	padding:0 1.6%!important;
}
header{
	background-color:transparent;
	
}
header .fixed-menu{
	position:fixed;
	z-index:9999;
	left:0;
	top:0;
	box-sizing:border-box;
	padding-left:5.0%;
	padding-right:5.0%;
	width:100%;
	background-color:#FFF;
}
ul.menu,ul.menu ul{
	padding:0;
	margin:0;
	list-style:none;	
}
ul.menu{
	float:right;	
}
ul.menu li{
	position:relative;	
}
ul.menu > li{
	float:left;
	border-top:3px solid transparent;
}
ul.menu li a{
	font-size:0.8em;
	display:block;
	text-decoration:none;
	color:#404040;	
}
ul.menu > li > a{
	padding:32px 11px 35px;
}
ul.menu > li:hover > a{
	color:rgba(160,206,78,1.00);	
}
ul.menu > li:hover{
	border-top-color:rgba(160,206,78,1.00);	
}
ul.menu > li ul{
	background-color:rgba(217,217,217,1.00);
	border-top:2px solid rgba(160,206,78,1.00);	
	position:absolute;
	width:220px;
	visibility:hidden;
	z-index:9998;
	left:0px;
	top:100%;
	text-align:left;
}
ul.menu > li.has-mega-menu{
	position:static;	
}
ul.menu > li.has-mega-menu ul{		
	position:absolute;
	width:100%;
	left:0px;
	top:100%;
}
ul.menu > li.has-mega-menu > ul > li{
	float:left;
}
ul.menu > li.has-mega-menu > ul > li > .mega-menu-box{
	border-right:1px solid #CCC;
	padding:15px 0;
}
li.has-mega-menu > ul > .one-half,li.has-mega-menu > ul > .one-third,li.has-mega-menu > ul > .two-third,li.has-mega-menu > ul > .one-quarter,li.has-mega-menu > ul > .three-quarter,li.has-mega-menu > ul > .one-fifth,li.has-mega-menu > ul > .two-fifth,li.has-mega-menu > ul > .three-fifth,li.has-mega-menu > ul > .four-fifth,li.has-mega-menu > ul > .one-sixth,li.has-mega-menu > ul > .five-sixth{
	padding:0;
}
ul.menu > li.has-mega-menu > ul > li > .mega-menu-box > h3.mega-menu-box-header{
	margin:0;
	margin-bottom:15px;
	padding-left:30px;
	font-weight:normal;
	font-size:1em;
	text-align:left;
}
ul.menu > li.has-mega-menu > ul > li > .mega-menu-box > ul{
	padding:0;
	position:static;
	border-top:none;
	font-family:'PT Sans';
	letter-spacing:0.05em;
}
ul.menu > li.has-mega-menu > ul > li > .mega-menu-box > ul > li a{
	border-bottom:none!important;
}
ul.menu > li.has-mega-menu:hover > ul > li > .mega-menu-box > ul{
	visibility:visible;
}
ul.menu > li.has-mega-menu > ul > li > .mega-menu-box > ul li a:hover{
	background-color:transparent;
	text-decoration:underline;
}
ul.menu > li.has-mega-menu > ul > li > .mega-menu-box img{
	padding:10px 30px;
}
ul.menu > li.has-mega-menu > ul > li > .mega-menu-box p{
	padding:10px 30px;
	font-size:0.8em;	
}
ul.menu li:hover > ul{
	visibility:visible;
}
ul.menu > li ul li a{
	padding:9px 30px;
	border-bottom:1px solid #CCC;
	transition:background-color 400ms;
}
ul.menu > li.right-side ul{
	right:0px;
	left:auto;
	text-align:right;
}
ul.menu > li ul li a:hover{
	background-color:rgba(204,204,204,1.00);
}
ul.menu > li > ul li ul{
	left:100%;
	top:0;
}
ul.menu > li.right-side > ul li ul{
	text-align:right;
	left:auto;
	right:100%;
}
ul.menu > li > ul li.right-side ul{
	text-align:right;
	left:auto;
	right:100%;
}
header .row{
height:83px;	
}
	#neva-logo{
		position:fixed;
		width:100%;
		box-sizing:border-box;
		-moz-box-sizing:border-box;
		-ms-box-sizing:border-box;
		-webkit-box-sizing:border-box;
		-o-box-sizing:border-box;
	}
	#premiumid{
		background-color:#A0CE4E;
		padding:20px 65px 20px 65px;
		color:rgba(255,255,255,1.00);
		text-align:center;
		border-radius:3px;
		font-weight:900;
		letter-spacing:2px;
		font-family:'qlassik_mediumregular' , san-serif;

	}
	#layout{
		letter-spacing:.2em;
		font-family:'qlassik_mediumregular' , san-serif;
		font-weight:bold;
		margin:80px 30px 30px 30px;
		
	}
		
		.clearfix1{
			clear:both;
			letter-spacing:-1px;
			color:rgba(180,180,180,1.00);
			text-align:center;
		}
			
			.neva-passage{
				font-size: 14px;
                color: #000;
                line-height: 20px;
                margin-bottom: 35px;
                display: inline-block;
                text-align: center;
			}
			.demos{
				margin-left: 0px;
                margin-right: 0px;
                margin-bottom: 0px;
				border: medium none;
				border-bottom: 1px solid #fff;
				padding-bottom: 25px;
				margin: 0px 30px 35px;
				clear:both;
			}
			.img-float-left{
				float:left;
				width:48%;
				text-align:center;
			}
			.img-float-right{
				float:right;
				width:48%;
				text-align:center;
				transition:all 400ms;
			}
			
				.logo{
				float:left;
				width:10%;
				display:block;
				padding-top:33px !important;
				padding-left:5%;
				padding-right:0%;
				text-align:center;
				}
			#neva-navbar{
			float:right;
			display:inline-block;
			box-sizing:border-box;
			text-align:center;
			
			
			}
			.main-float-1{
			box-sizing:border-box;
			padding-top:12%;
			font-family:'webfontregular';
			padding-bottom: 120px;
	}
			.floatbox3{
		width:100%;
		margin-top:0;
		margin-bottom:3.5%;
		box-sizing:border-box;
		text-align:center;
		border:1px solid rgba(150,150,150,1.00);
		background-color:rgba(255,255,255,1.00);
		font-family: 'webfontregular';
		
		margin-left:0;
		overflow:hidden;
	}
	.floatbox3 img{
		width:100%;
		opacity: 1;
		transition:opacity 1s ease 0s, transform 1s ease 0s, -webkit-transform 1s ease 0s;
		overflow:hidden;
	}
	.floatbox2 img{
		width:100%;
		transition:opacity 1s ease 0s, transform 1s ease 0s, -webkit-transform 1s ease 0s;
		overflow:hidden;
	}
	
	.floatbox1{
		width:100%;
	/*	margin-top:5%;*/
		margin-bottom:3.5%;
		box-sizing:border-box;
		text-align:center;
		border:1px solid rgba(150,150,150,1.00);
		background-color:rgba(255,255,255,1.00);
		font-family: 'webfontregular';
		margin-right:2%;
		
		
	}
	.floatbox1 img{
		width:100%;
		transition:opacity 1s ease 0s, transform 1s ease 0s, -webkit-transform 1s ease 0s;
		overflow:hidden;
	}
		
	.floatbox1-img{
	text-align:center;
	max-width:100%;
	overflow:hidden;
	
		
	}
	.floatbox1-h{
	color:rgba(13,13,13,1.00);
	padding:15px 10px;	
	}
	.floatbox1-h-2{
		
	color:#747474;
	padding:15px 10px;
		
	}
	.floatbox1-img:hover img{
		transform:scale(1.1,1.1);
		opacity:0.9;
	}
	.floatbox2{
		width:100%;
		margin-top:0;
		margin-bottom:3.5%;
		box-sizing:border-box;
		text-align:center;
	
		border:1px solid rgba(150,150,150,1.00);
		background-color:rgba(255,255,255,1.00);
		font-family: 'webfontregular';
		
		margin-left:0;
		overflow:hidden;
	}
		
				.floatbox1-passage{
				font-size:15px;
				line-height:1.7em;
				color:#747474;
				padding-bottom:10px;
}
.floatbox1-passage-1_3{
				font-size:15px;
				line-height:1.7em;
				color:#747474;
				padding-bottom:10px;
				padding-left:15px;
				padding-right:15px;
				font-family: 'webfontregular';
}
				
				.floatbox1-link a{
				text-decoration:none;
				color:rgba(0,0,0,1.00);
				border:2px solid #333;
				font-family: "PT Sans";
				font-weight: 700;
				padding: 15px 5px;
				line-height: 14px;
				font-size: 16px;
				background-color:transparent;
				width:130px;
				text-align:center;
				display:block;
				margin:0 auto;
				margin-top:10px;
				margin-bottom:10px;
				transition:all 300ms;
				border-radius: 3px;
				}
		.floatbox1-sec{
		width:100%;
		margin-top:0;
		margin-bottom:3.5%;
		box-sizing:border-box;
		text-align:center;
		
		border:1px solid rgba(150,150,150,1.00);
		background-color:rgba(255,255,255,0.90);
		font-family: 'webfontregular';
		margin-right:2.0%;
		
		padding-left:15px;
		padding-right:15px;
		min-height:490px;
	}

	.floatbox2-sec{
		width:100%;
		margin-top:0;
		margin-bottom:3.5%;
		box-sizing:border-box;
		text-align:center;
		margin-left:0;
		border:1px solid rgba(150,150,150,1.00);
		background-color:rgba(255,255,255,0.90);
		font-family: 'webfontregular';
		margin-right:2.0%;
		padding-left:15px;
		padding-right:15px;
		min-height:490px;
	}
	.floatbox3-sec{
		width:100%;
		margin-top:0;
		margin-bottom:3.5%;
		box-sizing:border-box;
		text-align:center;
		
		border:1px solid rgba(150,150,150,1.00);
		background-color:rgba(255,255,255,0.90);
		font-family: 'webfontregular';
		margin-right:2.0%;
		margin-left:0;
		padding-left:15px;
		padding-right:15px;
		min-height:490px;
		
	}
	.floatbox1-sec img{
		width:100%;
		transition:opacity 1s ease 0s, transform 1s ease 0s, -webkit-transform 1s ease 0s;
		overflow:hidden;
	}
		
		.floatbox2-sec img{
		width:100%;
		transition:opacity 1s ease 0s, transform 1s ease 0s, -webkit-transform 1s ease 0s;
		overflow:hidden;
	}
	.floatbox3-sec img{
		width:100%;
		transition:opacity 1s ease 0s, transform 1s ease 0s, -webkit-transform 1s ease 0s;
		overflow:hidden;
	}
	.floatbox1-sec-img{
	text-align:center;
	overflow:hidden;
	border:10px solid rgba(0, 0, 0, 0.04);
	margin:0 auto;
	margin-top:20px;
	}
	.floatbox1-sec-img:hover img{
		transform:scale(1.1,1.1);
	}
	.floatbox1-link a:hover{
	background-color:rgba(211,211,211,1.00);	

	}
	.floatbox1-sec-1_3{
		
		margin-top:0;
		margin-bottom:3.5%;
		box-sizing:border-box;
		text-align:center;
		
		background-color: #F6F6F6;
		border-color: rgba(255, 255, 255, 0);
		border-radius: 4px;
		border-style: solid;
		border-width: 1px;
		color: #000;
		font-family: 'webfontregular';
		margin-right:2.7%;
		
		
	}
	.floatbox2-sec-1_3{
		
		margin-top:0;
		margin-bottom:3.5%;
		box-sizing:border-box;
		text-align:center;
		
		border-color: rgba(255, 255, 255, 0);
		border-radius: 4px;
		border-style: solid;
		border-width: 1px;
		background-color: #F6F6F6;
		font-family: 'webfontregular';
		margin-right:2.0%;
		margin-left:0;
		color: #000;
	}
	.floatbox3-sec-1_3{
		
		margin-top:0;
		margin-bottom:3.5%;
		box-sizing:border-box;
		text-align:center;
		
		border-color: rgba(255, 255, 255, 0);
		border-radius: 4px;
		border-style: solid;
		border-width: 1px;
		background-color: #F6F6F6;
		font-family: 'webfontregular';
		margin-right:2.0%;
		margin-left:0;
		
	}
	.floatbox1-h{
	text-align: center;
	color:#333;
	padding:15px 10px;
	font-family: 'webfontregular';	
	font-weight: 400;
	line-height: 1.5;
	margin-bottom: 9px;
	margin: 0px 0px 0px;
	border-top:1px solid rgba(241,241,241,1.00);
	}
	.floatbox1-sec-circle{
	background-color: #333333;
    border-radius: 50%;
    display: inline-block;
    padding: 20px 20px;
    font-size: 25px;
	}
	.floatbox1-sec-circle-frame{
	padding:15px 0px;	
	}
	.two-column{
		padding-top:4%;
		display:block;
		overflow:hidden;
		
		
	}
	.column-1{
		text-align:center;
		padding-right:2%;
		padding-bottom:2%;
	}
	.column-2{
		text-align:center;
		padding-right:2%;
		padding-bottom:2%;
	}
	
	.column-2 img{
	
	
	text-align:center;	

	}
	.arrow-down-border-test{
	width:50px;
	height:50px;
	background-color:#A0CE4E;
	background-size:cover;
	margin:auto;
	transform:rotate(45deg);
	margin-top:-25px;
	overflow:hidden;
	color:#A0CE4E;
	}
	.arrow-down-border-test-2{
	width:50px;
	height:50px;
	background-color:#FFF;
	background-size:cover;
	margin:auto;
	transform:rotate(45deg);
	margin-top:-25px;
	overflow:hidden;
	color:#FFF;
	}
.arrow-down-border-test-3{
	width:50px;
	height:50px;
	background-color:#F2F2F2;
	background-size:cover;
	margin:auto;
	transform:rotate(45deg);
	margin-top:-45px;
	overflow:hidden;
	color:#FFF;
	}
.arrow-down-border-test-4{
	width:50px;
	height:50px;
	background-color:#FFF;
	background-size:cover;
	margin:auto;
	transform:rotate(45deg);
	overflow:hidden;
	color:#FFF;
	}
	.arrow-down-border-test-5{
	width:50px;
	height:50px;
	background-color:#A46498;
	background-size:cover;
	margin:auto;
	transform:rotate(45deg);
	overflow:hidden;
	color:#FFF;
	margin-bottom:-55px;
	}
	img{
	line-height:none;	
	}
	.nav-max-width{
	max-width:1400px;	
	margin:0 auto;
	position:relative;
	}
	.fa-thumbs-o-up , .fa-book , .fa-film{
	color:rgba(255,255,255,1.00);
	font-size:.9em;
	text-align:center;	
	
	}
	.flip-card{
	position:relative;	
	perspective:1000px;
}
.flip-front{
	backface-visibility:hidden;	
	transition:all 0.3s cubic-bezier(0.2, 0.85, 0.4, 1.27);
	border-radius:2%;
}
.flip-back{
	position:absolute;
	backface-visibility:hidden;
	border-radius:2%;
	transform:rotateY(-180deg);
	transition:all 0.3s cubic-bezier(0.2, 0.85, 0.4, 1.27);
	top:0;
	left:0;
	height:auto;
	margin: -0.2%;
}
.flip-card:hover .flip-front {
    transform:rotateY(-180deg);
	transform-style: preserve-3d;
}

.flip-card:hover .flip-back {
    transform:rotateY(0deg);
	transform-style: preserve-3d;
}
.dark-circle{
	background-color:#333333;
	border-radius:50%;	
	display:inline-block;
	padding:20px 20px;
	font-size:25px;
}
.flip-front > p, .flip-back > p{
	padding-left:20px;
	padding-right:20px;
	padding-bottom:30px;
	font-size:13px;	
}
.flip-bordered{
	display:block;
	padding:10px 0;
	margin:20px;
	border-radius:2%;
	cursor:pointer;
}
.green{
	color:#e4efd1;		
}
.bg-green{
	background-color:#a0ce4e;
}
		.green{
	background-color:#97c04c;	
}