@import url(https://fonts.googleapis.com/css?family=Roboto:300,900);

html,
body {
  margin: 0;
  overflow: hidden;
  background: #0A0A0A;
}

canvas {
  animation: rotate 30s linear infinite;
}

.content {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 50vw;
  height: 50vh;
  text-align: center;
}

h1,
h2 {
  margin: 0;
  color: #fff;
  text-shadow: 0 0 100px #00f, 0 3px 0 rgba(50, 0, 100, 0.8);
  filter: url(#drop-shadow);
  font-family: Roboto;
  font-weight: 300;
}

h1 {
  font-size: 30vh;
}

h2 {
  font-size: 7vh;
}

.black-hole {
  font-weight: 900;
  text-shadow: 0 0 50px #8E57FF;
  backface-visibility: hidden;
  position: relative;
  animation: pulse 1s ease infinite, pulse2 1s ease infinite;
  &:after {
    content:"0";
    position:absolute;
    top:6%;
    left:5%;
    color:#f9f;
    font-size: 90%;
    filter: blur(5px);
  }
  &:before {
    content:"0";
    position:absolute;
    top:0;
    left:0;
    color:#f0f;
    filter: blur(5px);
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.95) rotateZ(-3deg) translateZ(0);
  }
  50% {
    transform: scale(1.05) rotateZ(3deg) translateZ(0);
  }

  100% {
    transform: scale(0.95) rotateZ(-3deg) translateZ(0);
  }
}

@keyframes pulse2 {
  0% { text-shadow: 0 0 50px #8E57FF; filter: hue-rotate(0deg); }
  50% { text-shadow: 0 0 60px #8000FF; filter: hue-rotate(30deg); }
  100% { text-shadow: 0 0 50px #8E57FF; filter: hue-rotate(-30deg); }
}

@keyframes rotate {
  to {
    transform: rotateZ(360deg);
  }
}