@-moz-keyframes spin {
0% {
transform:rotate(0) translateZ(0)
}
100% {
transform:rotate(360deg) translateZ(0)
}
}
@-webkit-keyframes spin {
0% {
-webkit-transform:rotate(0) translateZ(0);
transform:rotate(0) translateZ(0)
}
100% {
-webkit-transform:rotate(360deg) translateZ(0);
transform:rotate(360deg) translateZ(0)
}
}
@-o-keyframes spin {
0% {
transform:rotate(0) translateZ(0)
}
100% {
transform:rotate(360deg) translateZ(0)
}
}
@keyframes spin {
0% {
-webkit-transform:rotate(0) translateZ(0);
transform:rotate(0) translateZ(0)
}
100% {
-webkit-transform:rotate(360deg) translateZ(0);
transform:rotate(360deg) translateZ(0)
}
}
@-moz-keyframes sk-bounce {
0%, 100% {
transform:scale(0)
}
50% {
transform:scale(1)
}
}
@-webkit-keyframes sk-bounce {
0%, 100% {
-webkit-transform:scale(0);
transform:scale(0)
}
50% {
-webkit-transform:scale(1);
transform:scale(1)
}
}
@-o-keyframes sk-bounce {
0%, 100% {
transform:scale(0)
}
50% {
transform:scale(1)
}
}
@keyframes sk-bounce {
0%, 100% {
-webkit-transform:scale(0);
transform:scale(0)
}
50% {
-webkit-transform:scale(1);
transform:scale(1)
}
}
@-moz-keyframes upndown {
0%, 100% {
transform:translateY(0)
}
50% {
transform:translateY(100%)
}
}
@-webkit-keyframes upndown {
0%, 100% {
-webkit-transform:translateY(0);
transform:translateY(0)
}
50% {
-webkit-transform:translateY(100%);
transform:translateY(100%)
}
}
@-o-keyframes upndown {
0%, 100% {
transform:translateY(0)
}
50% {
transform:translateY(100%)
}
}
@keyframes upndown {
0%, 100% {
-webkit-transform:translateY(0);
transform:translateY(0)
}
50% {
-webkit-transform:translateY(100%);
transform:translateY(100%)
}
}
@-moz-keyframes revealdown {
0% {
opacity:0;
bottom:100%
}
100% {
opacity:1;
bottom:0
}
}
@-webkit-keyframes revealdown {
0% {
opacity:0;
bottom:100%
}
100% {
opacity:1;
bottom:0
}
}
@-o-keyframes revealdown {
0% {
opacity:0;
bottom:100%
}
100% {
opacity:1;
bottom:0
}
}
@keyframes revealdown {
0% {
opacity:0;
bottom:100%
}
100% {
opacity:1;
bottom:0
}
}
@-moz-keyframes lineShadow {
0% {
height:0;
top:auto;
bottom:100%;
background:linear-gradient(to bottom, rgba(216,209,18,0.69) 0, rgba(24,234,229,0) 100%)
}
20% {
height:0
}
25% {
height:66px
}
35% {
height:66px
}
50% {
height:0;
top:auto;
bottom:100%;
background:linear-gradient(to bottom, rgba(216,209,18,0.69) 0, rgba(24,234,229,0) 100%)
}
50.1% {
top:100%;
bottom:auto;
background:linear-gradient(to bottom, rgba(24,234,229,0) 0, rgba(216,209,18,0.69) 100%)
}
70% {
height:0
}
75% {
height:66px
}
85% {
height:66px
}
100% {
height:0;
top:100%;
bottom:auto;
background:linear-gradient(to bottom, rgba(24,234,229,0) 0, rgba(216,209,18,0.69) 100%)
}
}
@-webkit-keyframes lineShadow {
0% {
height:0;
top:auto;
bottom:100%;
background:-webkit-linear-gradient(top, rgba(216,209,18,0.69) 0, rgba(24,234,229,0) 100%);
background:linear-gradient(to bottom, rgba(216,209,18,0.69) 0, rgba(24,234,229,0) 100%)
}
20% {
height:0
}
25% {
height:66px
}
35% {
height:66px
}
50% {
height:0;
top:auto;
bottom:100%;
background:-webkit-linear-gradient(top, rgba(216,209,18,0.69) 0, rgba(24,234,229,0) 100%);
background:linear-gradient(to bottom, rgba(216,209,18,0.69) 0, rgba(24,234,229,0) 100%)
}
50.1% {
top:100%;
bottom:auto;
background:-webkit-linear-gradient(top, rgba(24,234,229,0) 0, rgba(216,209,18,0.69) 100%);
background:linear-gradient(to bottom, rgba(24,234,229,0) 0, rgba(216,209,18,0.69) 100%)
}
70% {
height:0
}
75% {
height:66px
}
85% {
height:66px
}
100% {
height:0;
top:100%;
bottom:auto;
background:-webkit-linear-gradient(top, rgba(24,234,229,0) 0, rgba(216,209,18,0.69) 100%);
background:linear-gradient(to bottom, rgba(24,234,229,0) 0, rgba(216,209,18,0.69) 100%)
}
}
@-o-keyframes lineShadow {
0% {
height:0;
top:auto;
bottom:100%;
background:linear-gradient(to bottom, rgba(216,209,18,0.69) 0, rgba(24,234,229,0) 100%)
}
20% {
height:0
}
25% {
height:66px
}
35% {
height:66px
}
50% {
height:0;
top:auto;
bottom:100%;
background:linear-gradient(to bottom, rgba(216,209,18,0.69) 0, rgba(24,234,229,0) 100%)
}
50.1% {
top:100%;
bottom:auto;
background:linear-gradient(to bottom, rgba(24,234,229,0) 0, rgba(216,209,18,0.69) 100%)
}
70% {
height:0
}
75% {
height:66px
}
85% {
height:66px
}
100% {
height:0;
top:100%;
bottom:auto;
background:linear-gradient(to bottom, rgba(24,234,229,0) 0, rgba(216,209,18,0.69) 100%)
}
}
@keyframes lineShadow {
0% {
height:0;
top:auto;
bottom:100%;
background:-webkit-linear-gradient(top, rgba(216,209,18,0.69) 0, rgba(24,234,229,0) 100%);
background:linear-gradient(to bottom, rgba(216,209,18,0.69) 0, rgba(24,234,229,0) 100%)
}
20% {
height:0
}
25% {
height:66px
}
35% {
height:66px
}
50% {
height:0;
top:auto;
bottom:100%;
background:-webkit-linear-gradient(top, rgba(216,209,18,0.69) 0, rgba(24,234,229,0) 100%);
background:linear-gradient(to bottom, rgba(216,209,18,0.69) 0, rgba(24,234,229,0) 100%)
}
50.1% {
top:100%;
bottom:auto;
background:-webkit-linear-gradient(top, rgba(24,234,229,0) 0, rgba(216,209,18,0.69) 100%);
background:linear-gradient(to bottom, rgba(24,234,229,0) 0, rgba(216,209,18,0.69) 100%)
}
70% {
height:0
}
75% {
height:66px
}
85% {
height:66px
}
100% {
height:0;
top:100%;
bottom:auto;
background:-webkit-linear-gradient(top, rgba(24,234,229,0) 0, rgba(216,209,18,0.69) 100%);
background:linear-gradient(to bottom, rgba(24,234,229,0) 0, rgba(216,209,18,0.69) 100%)
}
}/*!
 * Bootstrap v3.3.7 (http://getbootstrap.com)
 * Copyright 2011-2016 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/../../node_modules/bootstrap-styl/bootstrap/blob/master/LICENSE)
 *//*! Source: https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css */

@media print {
*, :after, :before {
	background: 0 0!important;
	color: #000!important;
	box-shadow: none!important;
	text-shadow: none!important
}
a, a:visited {
	text-decoration: underline
}
a[href]:after {
	content: " (" attr(href) ")"
}
abbr[title]:after {
	content: " (" attr(title) ")"
}
a[href^="#"]:after, a[href^="javascript:"]:after {
	content: ""
}
blockquote, pre {
	border: 1px solid #999;
	page-break-inside: avoid
}
thead {
	display: table-header-group
}
img, tr {
	page-break-inside: avoid
}

}
* {
	box-sizing: border-box
}
:after, :before {
	box-sizing: border-box
}
html {
	font-size: 10px;
	-webkit-tap-highlight-color: transparent
}
body {
	font-family: 'Sofia Pro W01', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.428571429;
	color: #131313;
	background-color:-webkit-linear-gradient(left, #9E9E9E, #F0F0F0);
	background: linear-gradient(to right, #9E9E9E, #F0F0F0)
}



.show {
	display: block!important
}
.invisible {
	visibility: hidden
}
.text-hide {
	font: 0/0 a;
	color: transparent;
	text-shadow: none;
	background-color: transparent;
	border: 0
}
.hidden {
	display: none!important
}
.affix {
	position: fixed
}
@-ms-viewport {
width:device-width
}
.visible-lg, .visible-md, .visible-sm, .visible-xs {
	display: none!important
}
.visible-lg-block, .visible-lg-inline, .visible-lg-inline-block, .visible-md-block, .visible-md-inline, .visible-md-inline-block, .visible-sm-block, .visible-sm-inline, .visible-sm-inline-block, .visible-xs-block, .visible-xs-inline, .visible-xs-inline-block {
	display: none!important
}

@media (max-width:767px) {
.visible-xs {
	display: block!important
}
table.visible-xs {
	display: table!important
}
tr.visible-xs {
	display: table-row!important
}
td.visible-xs, th.visible-xs {
	display: table-cell!important
}
}

@media (max-width:767px) {
.visible-xs-block {
	display: block!important
}
}

@media (max-width:767px) {
.visible-xs-inline {
	display: inline!important
}
}

@media (max-width:767px) {
.visible-xs-inline-block {
	display: inline-block!important
}
}

@media (min-width:768px) and (max-width:991px) {
.visible-sm {
	display: block!important
}
table.visible-sm {
	display: table!important
}
tr.visible-sm {
	display: table-row!important
}
td.visible-sm, th.visible-sm {
	display: table-cell!important
}
}

@media (min-width:768px) and (max-width:991px) {
.visible-sm-block {
	display: block!important
}
}

@media (min-width:768px) and (max-width:991px) {
.visible-sm-inline {
	display: inline!important
}
}

@media (min-width:768px) and (max-width:991px) {
.visible-sm-inline-block {
	display: inline-block!important
}
}

@media (min-width:992px) and (max-width:1199px) {
.visible-md {
	display: block!important
}
table.visible-md {
	display: table!important
}
tr.visible-md {
	display: table-row!important
}
td.visible-md, th.visible-md {
	display: table-cell!important
}
}

@media (min-width:992px) and (max-width:1199px) {
.visible-md-block {
	display: block!important
}
}

@media (min-width:992px) and (max-width:1199px) {
.visible-md-inline {
	display: inline!important
}
}

@media (min-width:992px) and (max-width:1199px) {
.visible-md-inline-block {
	display: inline-block!important
}
}

@media (min-width:1200px) {
.visible-lg {
	display: block!important
}
table.visible-lg {
	display: table!important
}
tr.visible-lg {
	display: table-row!important
}
td.visible-lg, th.visible-lg {
	display: table-cell!important
}
}

@media (min-width:1200px) {
.visible-lg-block {
	display: block!important
}
}

@media (min-width:1200px) {
.visible-lg-inline {
	display: inline!important
}
}

@media (min-width:1200px) {
.visible-lg-inline-block {
	display: inline-block!important
}
}

@media (max-width:767px) {
.hidden-xs {
	display: none!important
}
}

@media (min-width:768px) and (max-width:991px) {
.hidden-sm {
	display: none!important
}
}

@media (min-width:992px) and (max-width:1199px) {
.hidden-md {
	display: none!important
}
}

@media (min-width:1200px) {
.hidden-lg {
	display: none!important
}
}
.visible-print {
	display: none!important
}

@media print {
.visible-print {
	display: block!important
}
table.visible-print {
	display: table!important
}
tr.visible-print {
	display: table-row!important
}
td.visible-print, th.visible-print {
	display: table-cell!important
}
}
.visible-print-block {
	display: none!important
}

@media print {
.visible-print-block {
	display: block!important
}
}
.visible-print-inline {
	display: none!important
}

@media print {
.visible-print-inline {
	display: inline!important
}
}
.visible-print-inline-block {
	display: none!important
}

@media print {
.visible-print-inline-block {
	display: inline-block!important
}
}

@media print {
.hidden-print {
	display: none!important
}
}
*, :after, :before {
	box-sizing: border-box
}
html {
	font-size: 20px
}
body {
	background: #E5E5E5;
	color: #131313;
	font-family: 'Sofia Pro W01', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 20px;
	font-weight: 300;
	line-height: 1.618;
	overflow-x: hidden;
	margin: 0
}
body, html {
	width: 100%;
	overflow-x: hidden
}



@media (min-width:768px) {
.title {
	font-size: 55px;
	letter-spacing: -3px
}
.title.view-secondary {
	font-size: 44px;
	letter-spacing: -2px
}
.title.view-intro {
	font-size: 55px;
	padding-top: 0
}
.title.view-results {
	font-size: 55px;
	letter-spacing: -1px
}


.dataItem {
	position: relative;
	padding: 3px 0 3px 44.800000000000004px;
	min-height: 44px;
	line-height: 1.2em;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center
}
.dataItem:before {
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -14px;
	width: 28px;
	height: 28px;
	border: 1px solid #ddd;
	border-radius: 50%;
	background-color: #f3f3f3;
	content: ''
}
.dataItem-icon {
	position: absolute;
	left: 14px;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	color: #919191
}

@media (min-width:992px) {
.dataItem {
	margin-left: -14px;
	opacity: 0;
	-webkit-transform: scale(.5);
	transform: scale(.5);
	-webkit-transform-origin: 14px 50%;
	transform-origin: 14px 50%;
	-webkit-transition: opacity .75s, -webkit-transform .75s .75s;
	transition: opacity .75s, -webkit-transform .75s .75s;
	transition: opacity .75s, transform .75s .75s;
	transition: opacity .75s, transform .75s .75s, -webkit-transform .75s .75s
}
.dataItem.is-visible {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: opacity 375ms, -webkit-transform .75s;
	transition: opacity 375ms, -webkit-transform .75s;
	transition: opacity 375ms, transform .75s;
	transition: opacity 375ms, transform .75s, -webkit-transform .75s
}
}
.document {
	position: relative
}
.document:after, .document:before {
	position: absolute;
	display: none;
	z-index: -1;
	background-size: cover;
	content: ''
}
.document:before {
	top: 100px;
	right: 50%;
	margin-right: 190px;
	width: 1073px;
	height: 603px
}
.document:after {
	top: -120px;
	left: 50%;
	margin-left: 230px;
	width: 943px;
	height: 372px
}

@media (min-width:768px) {
.document:after, .document:before {
	display: block
}
.document:before {
	background-image: url(../images/document-background/left-1x.jpg)
}
.document:after {
	background-image: url(../images/document-background/right-1x.jpg)
}
}

@media (min-width:768px) and (-webkit-min-device-pixel-ratio:2), (min-width:768px) and (min-resolution:192dpi) {
.document:before {
	background-image: url(../images/document-background/left-2x.jpg)
}
}

@media (min-width:768px) and (-webkit-min-device-pixel-ratio:2), (min-width:768px) and (min-resolution:192dpi) {
.document:after {
	background-image: url(../images/document-background/right-2x.jpg)
}
}

@media (min-width:768px) {
.documentUpdater-page {
	position: absolute;
	-webkit-transition: all 1s;
	transition: all 1s
}
.documentUpdater-aside {
	overflow: hidden;
	opacity: 1;
	-webkit-transition: all 1s;
	transition: all 1s;
	-webkit-transform: translateX(0);
	transform: translateX(0);
	z-index: 30
}
.documentUpdater.is-processing .documentUpdater-aside {
	opacity: 0;
	-webkit-transform: translateX(100%);
	transform: translateX(100%)
}
.documentUpdater.is-processing .documentUpdater-page {
	margin-left: 25%
}
}
.error {
	position: relative;
	padding: 30px 0
}
.error:before {
	position: absolute;
	top: -24px;
	left: 50%;
	margin-left: -614px;
	display: none;
	z-index: -4;
	width: 1324px;
	height: 713px;
	background-size: cover;
	content: ''
}

@media (min-width:768px) {
.error {
	padding-top: 120px;
	padding-bottom: 60px
}
.error:before {
	background-image: url(../images/error-background/1x.jpg);
	display: block
}
}

@media (min-width:768px) and (-webkit-min-device-pixel-ratio:2), (min-width:768px) and (min-resolution:192dpi) {
.error:before {
	background-image: url(../images/error-background/2x.jpg)
}
}
.fieldMarker {
	position: relative
}
.fieldMarker-canvas {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 20;
	pointer-events: none
}
.fields {
	padding: 0 8px;
	font-family: Raleway, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	position: relative
}
.fields-msg {
font-family:$font-family-sans-head;
	font-size: 20px;
	font-weight: 700;
	line-height: 56px;
	color: #4a4a4a
}
.fields-download {
	margin-top: 40px;
	text-align: center
}

@media (min-width:768px) {
.fields {
	padding-top: 14px;
	padding-left: 60px
}
.fields-download {
	text-align: left
}
}
.fileUpload-input, input[type=file].fileUpload-input {
	display: none
}
.footer {
	position: relative;
	padding: 20px 0;
	text-align: center;
	color: #9c9fa4;
	font-size: 13px;
	line-height: 27px;
	font-weight: light
}
.footer-in {
	margin: 0
}
.footer-sides {
	margin: 0 auto;
	max-width: 1140px;
	border-top: solid 1px rgba(151,151,151,.1);
	padding: 44px 0;
	margin-bottom: 40px
}
.footer-sides:after, .footer-sides:before {
	content: " ";
	display: table
}
.footer-sides:after {
	clear: both
}
.footer-logo {
	padding-top: 0;
	margin-left: 15px;
	margin-bottom: 20px
}
.footer-address {
	font-size: 14px;
	line-height: 23px;
	color: #9c9fa4
}
.footer-address a {
	font-size: 13px
}
.footer-address-business-name {
	font-weight: 400;
	color: #101010;
	font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	display: block;
	padding: 10px 0
}
.footer-social {
	margin-bottom: 40px
}
.footer-social-item {
	margin: 0 6px
}
.footer-social-item img {
	width: 50px
}

@media (min-width:768px) {
.footer {
	padding: 50px 0 80px;
	margin-top: 20px
}
.footer-logo {
	width: 87px;
	float: left;
	text-align: left
}
.footer-address {
	float: right;
	text-align: left;
	min-width: 220px
}
.footer-social {
	float: right;
	text-align: right;
	padding-right: 10px
}
}
.header {
	margin: 0 auto;
	max-width: 1280px;
	padding: 0 10px;
	padding-bottom: 50px
}
.header-logo {
	display: block;
	position: relative;
	margin: 49px 0 0 37px;
	width: 55px;
	height: 16px
}

@media (min-width:768px) {
.header {
	padding: 0 47px
}
.header-logo {
	position: relative;
	margin: 70px 0 20px;
	width: 83px;
	height: 24px;
	overflow: hidden
}
}
.hoverPaper {
	position: relative;
	z-index: 0;
	margin: 0 10px;
	padding: 50px 0;
	max-width: 740px;
	background-color: #fff;
	border-radius: 3px;
	box-shadow: 0 12px 24px 0 rgba(180,192,200,.5)
}

@media (min-width:768px) {
.hoverPaper {
	margin: 0 auto;
	padding: 78px 70px
}
.hoverPaper-title {
	margin-bottom: 11px
}
.hoverPaper-subtitle {
	margin-top: 0;
	margin-bottom: 15px
}
}

@media (min-width:1200px) {
.hoverPaper.view-wider {
	max-width: 1140px
}
}
.how {
	position: relative;
	z-index: 0;
	margin: 0 0 -100px;
	padding: 63px 0 125px;
	background-color: #f5f5f5;
	overflow: hidden
}
.how-results {
	position: relative;
	z-index: 1
}
.how-invoice {
	position: relative
}
.how-invoice:before {
	position: absolute;
	top: -397px;
	left: -690px;
	display: none;
	z-index: -1;
	width: 1418px;
	height: 956px;
	background-size: cover;
	content: ''
}
.how-preview {
	display: none;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	position: relative;
	z-index: -1;
	padding: 10px
}
.how-net {
	position: absolute;
	top: 0;
	left: 50%;
	width: 1110px;
	height: 550px;
	margin-left: -870px;
	display: none
}

@media (max-width:767px) {
.how-preview {
	display: block;
	padding: 0
}
.how-results {
	padding: 10px 30px 30px;
	font-size: 14px
}
.how-results:before {
	content: ' ';
	position: absolute;
	top: -12px;
	left: 53px;
	bottom: 40px;
	width: 1px;
	border-left: 1px solid rgba(166,165,165,.25)
}
.how-invoice {
	display: block;
	margin-top: -30px;
	margin-bottom: 0
}
.how-invoice:before {
	display: block;
	position: static;
	width: auto;
	height: 0;
	margin-left: -30px;
	padding-bottom: 100%;
	background: url(../images/invoice-floating/mobile.jpg) no-repeat center top;
	background-size: 120%
}
.how-invoice:after {
	content: ' ';
	position: absolute;
	z-index: 10;
	top: 30%;
	right: 30px;
	bottom: 0;
	left: 53.5px;
	margin-left: -2.75255%;
	background: url(../images/lines-mobile.svg) no-repeat left bottom;
	background-size: contain
}
}

@media (min-width:768px) {
.how {
	margin-top: 0;
	margin-bottom: -300px;
	padding-top: 135px;
	padding-bottom: 400px
}
.how-invoice:before {
	opacity: 0;
	-webkit-transform: translate(-20%, 30%);
	transform: translate(-20%, 30%);
	-webkit-transition: opacity .5s ease-out, -webkit-transform .5s ease-out;
	transition: opacity .5s ease-out, -webkit-transform .5s ease-out;
	transition: opacity .5s ease-out, transform .5s ease-out;
	transition: opacity .5s ease-out, transform .5s ease-out, -webkit-transform .5s ease-out
}
.how-invoice.is-visible:before {
	opacity: 1;
	-webkit-transform: translate(0, 0);
	transform: translate(0, 0)
}
.how-preview {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex
}
.how-net {
	opacity: 0;
	-webkit-transition: opacity .5s ease-out;
	transition: opacity .5s ease-out
}
.how-net.is-visible {
	opacity: 1;
	-webkit-transition-delay: .5s;
	transition-delay: .5s
}
.how-results {
	margin-left: 60px
}
.how-net {
	display: block
}
.how-invoice {
	width: 600px
}
.how-invoice:before {
	background-image: url(../images/invoice-floating/2x.jpg);
	display: block
}
}
.intro {
	position: relative;
	margin: 0 auto;
	max-width: 1280px;
	padding: 0 47px 163px;
	text-align: left
}
.intro:before {
	content: ' ';
	display: block;
	position: absolute;
	top: 47%;
	left: 0;
	right: 0;
	bottom: 0;
	background: url(../images/mobile-background/rossum-background@2x.jpg) no-repeat right top;
	background-size: 100%;
	z-index: -4
}

@media (min-width:768px) {
.intro {
	padding-top: 190px;
	padding-bottom: 290px;
	text-align: left
}
.intro:before {
	top: 42%;
	background-image: url(../images/mobile-background/rossum-background@3x.jpg);
	background-size: 75%
}
}

@media (min-width:992px) {
.intro:before {
	display: none
}
}
.introWiring {
	position: absolute;
	top: -40px;
	left: 50%;
	z-index: -3;
	margin-left: -300px;
	width: 1418px;
	height: 632px
}
.introWiring.view-onlyWiring .introWiring-canvasWrap {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0
}
.list {
	font-size: 14px;
	color: #5e626a;
	text-align: left;
	margin: 30px auto;
	line-height: 2
}
.list:after, .list:before {
	content: " ";
	display: table
}
.list:after {
	clear: both
}
.list-col {
	width: 50%;
	float: left;
	padding: 0 15px
}

@media (min-width:768px) {
.list-col {
	padding: 0 30px
}
}

@media (min-width:992px) {
.list-col {
	padding: 0 60px
}
}

@media (min-width:1200px) {
.list {
	padding-left: 50px;
	padding-right: 50px
}
}
.result {
	color: #9c9fa4;
	font-size: 13px;
	padding: 3px 0 3px 70.5px;
	min-height: 60px;
	line-height: 1.2em;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center
}
.result-id {
	position: absolute;
	left: -47px;
	top: 50%;
	z-index: 1;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	color: #131313;
	font-size: 14px
}
.result-value {
	font-weight: 700;
	color: #25282c
}
.result-text {
	position: relative
}
.result-text:after, .result-text:before {
	position: absolute;
	left: -70.5px;
	top: 50%;
	margin-top: -23.5px;
	width: 47px;
	height: 47px;
	border-radius: 50%;
	content: ''
}
.result-text:before {
	background-color: #fff;
	border: 1px solid rgba(166,165,165,.25)
}
.result-text:after {
	display: none;
	margin-top: -21.5px;
	margin-left: 2px;
	width: 43px;
	height: 43px;
	background-color: #fff
}

@media (min-width:768px) {
.result {
	font-size: 15px
}
.result.view-how .result-text {
	opacity: 0;
	-webkit-transform: translateX(-50px) scale(0);
	transform: translateX(-50px) scale(0);
	-webkit-transform-origin: 0 50%;
	transform-origin: 0 50%;
	-webkit-transition: opacity .3s ease-out, -webkit-transform .3s ease-out;
	transition: opacity .3s ease-out, -webkit-transform .3s ease-out;
	transition: opacity .3s ease-out, transform .3s ease-out;
	transition: opacity .3s ease-out, transform .3s ease-out, -webkit-transform .3s ease-out
}
.result.view-how.is-visible .result-text {
	-webkit-transform: translateX(0) scale(1);
	transform: translateX(0) scale(1);
	opacity: 1
}
}
.result.is-active .result-text:before {
	background: -webkit-linear-gradient(left, #B08B1D, #DBCD0D);
	background: linear-gradient(to right, #B08B1D, #DBCD0D);
	border: none
}
.result.is-active .result-text:after {
	display: block
}
.result.view-how .result-text:before {
	background-color: #f5f5f5
}
.scanned {
	overflow: hidden
}
.scanned-inner {
	position: relative
}
.scanned-document {
	position: relative
}
.scanned-spacer {
	height: 0;
	padding-bottom: calc(141.4286% - 22px)
}
.scanned-filler {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 0;
	-webkit-transition: opacity 2.5s;
	transition: opacity 2.5s
}
.scanned-filler-shade {
	position: absolute;
	top: 22px;
	right: 22px;
	bottom: 22px;
	left: 22px;
	background: #fff;
	box-shadow: 0 0 35px 0 rgba(0,0,0,.14)
}
.scanned-filler-dots, .scanned-filler-lines, .scanned-filler-page {
	position: absolute;
	overflow: hidden;
	-webkit-animation: revealdown 2.5s both;
	animation: revealdown 2.5s both
}
.scanned-filler-dots img, .scanned-filler-dots svg, .scanned-filler-lines img, .scanned-filler-lines svg, .scanned-filler-page img, .scanned-filler-page svg {
	display: block;
	margin: 22px;
	width: calc(100% - 70px)
}
.scanned-filler-page {
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	-webkit-animation-delay: 5s;
	animation-delay: 5s
}
.scanned-filler-dots, .scanned-filler-lines {
	top: 45px;
	right: 45px;
	bottom: 45px;
	left: 45px;
	display: none
}
.scanned-filler-dots {
	-webkit-animation-delay: 10s;
	animation-delay: 10s
}
.scanned-filler-lines {
	-webkit-animation-delay: 15s;
	animation-delay: 15s
}
.scanned-image {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 0;
	z-index: 5;
	padding: 22px;
	-webkit-transition: opacity 2.5s;
	transition: opacity 2.5s
}
.scanned-image img {
	box-shadow: 0 0 35px 0 rgba(0,0,0,.14)
}
.scanned-ray {
	display: block;
	position: absolute;
	z-index: 10;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	-webkit-animation: upndown 5s infinite both;
	animation: upndown 5s infinite both;
	-webkit-transition: all 1s;
	transition: all 1s
}
.scanned-line {
	position: relative;
	height: 2px;
	background: #18eae5;
	margin-left: 19px;
	margin-right: 19px
}
.scanned-line:after {
	content: ' ';
	position: absolute;
	left: 3px;
	right: 3px;
	height: 66px;
	-webkit-animation: lineShadow 5s infinite both;
	animation: lineShadow 5s infinite both;
	-webkit-transform: scaleY(-1);
	transform: scaleY(-1);
	tranform-origin: 50% 0
}

@media (min-width:768px) {
.scanned {
	padding: 0 0 30px
}
.scanned-spacer {
	padding-bottom: calc(141.4286% - 35px)
}
.scanned-filler-shade {
	top: 35px;
	right: 35px;
	bottom: 35px;
	left: 35px
}
.scanned-filler-dots img, .scanned-filler-dots svg, .scanned-filler-lines img, .scanned-filler-lines svg, .scanned-filler-page img, .scanned-filler-page svg {
	margin: 35px
}
.scanned-line {
	margin-left: 32px;
	margin-right: 32px
}
.scanned-image {
	padding: 35px
}
.scanned-image img {
	box-shadow: 0 10px 70px 0 rgba(0,0,0,.14)
}
}
.scanned.has-preview .scanned-image {
	opacity: 1
}
.scanned.has-preview .scanned-filler {
	opacity: 0
}
.scanned.is-ready .scanned-ray {
	opacity: 0;
	left: 50%;
	right: 50%;
	-webkit-animation-play-state: paused;
	animation-play-state: paused
}
.shape {
	display: inline-block;
	vertical-align: middle;
	line-height: inherit
}
.shape-defs {
	visibility: hidden;
	position: absolute;
	width: 0;
	height: 0;
	overflow: hidden
}
.shape-logo {
	width: 73px;
	height: 20px
}
.shape-arrow-right {
	width: 15px;
	height: 11px
}
.shape-arrowDown {
	width: 10px;
	height: 14px
}
.shape-will {
	width: 64px;
	height: 32px
}
.shape-calendar {
	width: 13px;
	height: 13px
}
.shape-building {
	width: 17px;
	height: 13px
}
.shape-avatar {
	width: 15px;
	height: 15px
}
.shape-money {
	width: 9px;
	height: 17px
}
.shape-document {
	width: 11px;
	height: 14px
}
.shape-envelope {
	width: 15px;
	height: 11px
}
.shape-download, .shape-upload {
	width: 16px;
	height: 18px;
	stroke: #000
}
.shape.view-fill {
	display: block;
	width: 100%;
	height: 100%
}
.shape.view-abs {
	position: absolute;
	margin: auto
}
.shape.view-180deg {
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg)
}
.shape.view-90deg {
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg)
}
.shape.view-270deg {
	-webkit-transform: rotate(270deg);
	transform: rotate(270deg)
}
.signup-form {
	margin-top: 40px;
	margin-left: 15px;
	margin-right: 15px
}
.signup-form .form-control {
	display: inline-block;
	font-family: inherit;
	font-size: inherit;
	border-radius: 100px;
	padding: 1.8em 40px;
	box-sizing: border-box;
	height: auto;
	width: 520px;
	max-width: 100%;
	font-size: 14px;
	font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	line-height: 19px;
	font-weight: 300;
	padding-right: 160px;
	border-color: transparent;
	background-color: #f8f8f8;
	box-shadow: inset 2px 2px 6px 0 rgba(215,221,225,.5)
}
.signup-form .form-control::-webkit-input-placeholder {
color:#a3abb9;
font-weight:300;
font-family:Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif
}
.signup-form .form-control::-moz-placeholder {
color:#a3abb9;
font-weight:300;
font-family:Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif
}
.signup-form .form-control:-ms-input-placeholder {
color:#a3abb9;
font-weight:300;
font-family:Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif
}
.signup-form .form-control::placeholder {
color:#a3abb9;
font-weight:300;
font-family:Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif
}
.signup-form .form-control-button {
	font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	position: absolute;
	top: -2px;
	bottom: 0;
	right: 0;
	font-size: 12px;
	background: 0 0;
	border: 0;
	width: 160px;
	cursor: pointer;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	color: #25282c
}
.signup-form .form-control-button .shape {
	margin-left: 6px;
	margin-top: -2px;
	-webkit-transition: -webkit-transform 250ms;
	transition: -webkit-transform 250ms;
	transition: transform 250ms;
	transition: transform 250ms, -webkit-transform 250ms
}
.signup-form .form-control-button:hover .shape {
	-webkit-transform: translateX(3px);
	transform: translateX(3px)
}
.signup-form .form-control-wrap {
	max-width: 520px;
	position: relative;
	text-align: center;
	margin: 10px auto
}

@media (min-width:768px) {
.signup-form {
	margin-top: 20px;
	margin-bottom: 14px
}
.signup-form .form-control {
	font-size: 15px
}
.signup-form .form-control-button {
	font-size: 14px
}
.signup-form .form-control-wrap {
	display: inline-block;
	margin: 2px
}
}
.team {
	max-width: 1240px;
	margin: 0 auto;
	padding: 0 20px 40px;
	margin-top: 20px
}
.team:after, .team:before {
	content: " ";
	display: table
}
.team:after {
	clear: both
}

@media (min-width:768px) {
.team {
	margin-top: 200px
}
}
.team-member {
	text-align: left
}
.team-member-in {
	max-width: 237px;
	margin: 0 auto
}
.team-member-image {
	background: -webkit-linear-gradient(left, #B08B1D, #DBCD0D);
	background: linear-gradient(to right, #B08B1D, #DBCD0D);
	display: inline-block;
	margin: 0 auto;
	padding: 0;
	position: relative
}
.team-member-image-img {
	width: 100%
}
.team-member-symbol {
	position: absolute;
	bottom: 0;
	left: 15px;
	color: #131313;
	-webkit-transform: translateY(50%);
	transform: translateY(50%)
}
.team-member:nth-child(3) .team-member-symbol {
	left: 8px
}
.team-member:nth-child(4) .team-member-symbol {
	left: 24px
}
.team-member-content {
	padding: 44px 14px;
	max-width: 237px
}
.team-member:nth-child(4) .team-member-content {
	padding-left: 24px
}
.team-member-name {
	font-weight: 700;
	font-size: 21px;
	font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif
}
.team-member-position {
	font-size: 15px;
	color: #9c9fa4;
	font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif
}
.team-member-text {
	padding: 14px 0;
	font-size: 13px;
	line-height: 22px;
	color: #5e626a
}

@media (min-width:768px) {
.team-member {
	float: left;
	width: 50%
}
}

@media (min-width:1100px) {
.team-member {
	width: 25%
}
}
.textGradient {
	background: -webkit-linear-gradient(left, #1439C8, #1978DC);
	background: linear-gradient(to right, #1439C8, #1978DC);
	text-fill-color: transparent;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-moz-background-clip: text;
	-moz-text-fill-color: transparent;
	-o-background-clip: text;
	-o-text-fill-color: transparent;
	-ms-background-clip: text;
	-ms-text-fill-color: transparent;
	white-space: nowrap
}
.will {
	position: relative
}
.will-false {
	white-space: nowrap;
	display: none
}
.will-true {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: none
}
.will-true .shape {
	position: absolute;
	bottom: -7px;
	left: 50%;
	-webkit-transform: translate(-8%, 100%);
	transform: translate(-8%, 100%)
}

@media (min-width:480px) {
.will-false {
	display: inline
}
.will-true {
	display: block
}
.will-true-text {
	display: none
}
}

@media (min-width:768px) {
.will.animate .will-true {
	opacity: 0;
	-webkit-transform: translate(10px, 10px);
	transform: translate(10px, 10px);
	-webkit-transition: opacity .2s .5s ease-out, -webkit-transform .2s .5s ease-out;
	transition: opacity .2s .5s ease-out, -webkit-transform .2s .5s ease-out;
	transition: opacity .2s .5s ease-out, transform .2s .5s ease-out;
	transition: opacity .2s .5s ease-out, transform .2s .5s ease-out, -webkit-transform .2s .5s ease-out
}
.will.animate.is-visible .will-true {
	opacity: 1;
	-webkit-transform: translate(0, 0);
	transform: translate(0, 0)
}
}
.layout {
	background-color: #fff
}
.layout.view-onlyWiring {
	background-color: #000
}
