@font-face {
	font-family: 'yekan';
	src: url(fonts/Yekan.eot);
	src: url(fonts/Yekan.eot?#iefix) format("embedded-opentype"), url(fonts/Yekan.woff) format("woff"), url(fonts/Yekan.ttf) format("truetype"), url(fonts/Yekan.svg#BYekan) format("svg");
	font-weight: normal;
	font-style: normal
}
@font-face {
    font-family: 'helveticaneuecyrlight';
    src: url('fonts/helveticaneuecyr-light-webfont.woff2') format('woff2'),
         url('fonts/helveticaneuecyr-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.lang{
	position:absolute;
	top:4%;
	left:94.5%;	
}

@font-face {
    font-family: 'tt_bells_demoregular';
    src: url('fonts/tt_bells_regular_demo-webfont.woff2') format('woff2'),
         url('fonts/tt_bells_regular_demo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'leixodemo';
    src: url('fonts/leixo-demo-webfont.woff2') format('woff2'),
         url('fonts/leixo-demo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
  font-family: 'AbrilFatface-Regular';
  src: url('fonts/AbrilFatface-Regular.eot?#iefix') format('embedded-opentype'),  url('AbrilFatface-Regular.otf')  format('opentype'),
	     url('AbrilFatface-Regular.woff') format('woff'), url('AbrilFatface-Regular.ttf')  format('truetype'), url('AbrilFatface-Regular.svg#AbrilFatface-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
    font-family: 'dorielregular';
    src: url('fonts/doriel-webfont.woff2') format('woff2'),
         url('fonts/doriel-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
	font-family: 'Coolvetica Rg';
	src: url('fonts/CoolveticaRg-Regular.eot');
	src: url('fonts/CoolveticaRg-Regular.eot?#iefix') format('embedded-opentype'),
		url('fonts/CoolveticaRg-Regular.woff') format('woff'),
		url('fonts/CoolveticaRg-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
    font-family: 'qlassik_mediumregular';
    src: url('fonts/qlassik_tb-webfont.woff2') format('woff2'),
         url('fonts/qlassik_tb-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'qlassik_boldregular';
    src: url('fonts/qlassikbold_tb-webfont.woff2') format('woff2'),
         url('fonts/qlassikbold_tb-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'blacklistedregular';
    src: url('fonts/blacklisted-webfont.woff2') format('woff2'),
         url('fonts/blacklisted-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'caviar_dreamsbold_italic';
    src: url('caviardreams_bolditalic-webfont.woff2') format('woff2'),
         url('caviardreams_bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'caviar_dreamsitalic';
    src: url('caviardreams_italic-webfont.woff2') format('woff2'),
         url('caviardreams_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'caviar_dreamsregular';
    src: url('caviardreams-webfont.woff2') format('woff2'),
         url('caviardreams-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'caviar_dreamsbold';
    src: url('caviardreams_bold-webfont.woff2') format('woff2'),
         url('caviardreams_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body, html { font-size: 100%; padding: 0; margin: 0;}
body{
	height:100%;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
    margin:0px;
	display:block;
	font-family: 'Lato', Calibri, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
	
}
html, body, 
.container,
.whole,
.cbp-fbscroller,
.cbp-fbscroller section { 
	height: 100%;
	top: -20px;
}
#section2{
height:auto;	
}

h1,h2,h3{
line-height:none;
margin:0;
}
a{
text-decoration:none;	
}
p{
margin:0;	
}
section .info {
	width: 50%;
	float: right;
	/*padding: 80px;*/
	height: 100%;
	min-height: 100%;
	 position: relative;

}
#section1{
	width: 100%;
    height: 100%;
    display: block;
    right: auto;
    left: auto;
/*background: linear-gradient(270deg, #561845, #c70039, #ff5733, #ffc30f);*/
	background: linear-gradient(270deg, #db3273, rgba(70,94,159,1.00), rgba(18,156,60,1.00) ,#FFFFD2);
    background-size: 400%;
    -webkit-animation: gradFade 40s ease infinite;
    -moz-animation: gradFade 40s ease infinite;
    animation: gradFade 40s ease infinite;}
@-webkit-keyframes gradFade {
0%, 100% {
background-position:0 50%
}
50% {
background-position:100% 50%
}
}
@-moz-keyframes gradFade {
0%, 100% {
background-position:0 50%
}
50% {
background-position:100% 50%
}
}
@keyframes gradFade {
0%, 100% {
background-position:0 50%
}
50% {
background-position:100% 50%
}
}
.header1{
	/*padding: 2.875em 1.875em 1.875em;
    position: absolute;
    top: 55%;
    width: 600px;
    height: 300px;
	width:100%;
	height:100%;
    left: 35%;
    margin-top: -150px;
    margin-left: -300px;
    text-align: left;
	z-index:1200;*/
}
.header2{
	padding: 2.875em 1.875em 1.875em;
    position: absolute;
    top: 68%;
    width: 600px;
    height: 300px;
    left: 57%;
    margin-top: -150px;
    margin-left: -300px;
    text-align: left;
	z-index:1000;
}

.h1 {
    font-size: 5.725em;
    line-height: 1.3;
    margin: 0;
    font-weight: 400;
    color: #fff;
    font-family: 'leixodemo';
	z-index:1001;
}
.h1-2 {
    font-size: 2.825em;
    line-height: 0;
    margin: 0;
    font-weight: 400;
    color: #eee;
    font-family: 'qlassik_boldregular';
	z-index:20;
	letter-spacing:1.5px;
}
.h2_heading{
margin-top:-15px;
font-family: 'tt_bells_demoregular';
font-size:4.5em;
}
	.header-pass{
		font-family: 'qlassik_mediumregular';
		text-align:center;
		color:rgba(255,255,255,1.00);
		margin:0 auto;
		letter-spacing:1.5px;
	}
	.scroller > nav{
    position: fixed;
    z-index: 9999;
    right: 50px;
    top: 50%;
    width: 14px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
	.scroller > nav a.scroller-current {
    background: #fff;
}
.scroller-current > nav a {
    display: block;
    position: relative;
    z-index: 9999;
    color: transparent;
    width: 14px;
    height: 14px;
    outline: none;
    margin: 18px 0;
    border-radius: 50%;
    border: 1px solid rgba(255,255,255,0.6);
    transition: 0.2s all linear;
}

#section2 {
	background-color:#fff;
    position: static;
    transition: 1s ease-in-out;
}

/*#section2:after {
	background-image: url(image/right-1x.jpg)
}*/
.hover {
	background: #000;
	background-position: 35% 50%!important;
	transition: 0.2s ease-in-out;
}
.hover2 {
	background: #000;
	background-position: 25% 50%!important;
	transition: 0.2s ease-in-out;
}
#section2 .info{
	/*background: rgba(21, 21, 21, 0.9);*/
}
.role-shopisoft{
	position:relative;
	float:left;	
	top:80%;
	left:7%;
	-o-transition: color 800ms ease;
	-moz-transition: color 800ms ease;
	transition: color 800ms ease
}
.role-personal{
	position:relative;
	float:left;	
	top:80%;
	left:7%;
	-o-transition: color 800ms ease;
	-moz-transition: color 800ms ease;
	transition: color 800ms ease;
}
.role-avada{
	
	position:relative;
	float:left;	
	top:80%;
	left:7%;
	-o-transition: color 800ms ease;
	-moz-transition: color 800ms ease;
	transition: color 800ms ease;
}
.role-tmp{
	position:relative;
	float:left;	
	top:80%;
	left:7%;
	-o-transition: color 800ms ease;
	-moz-transition: color 800ms ease;
	transition: color 800ms ease
}
.my-role{
		position:absolute;
	float:left;	
	margin-bottom:10px;
	font-size:19px;
	left:-205%;
	top:35%;
	-o-transition: color 1200ms ease;
	-moz-transition: color 1200ms ease;
	transition: color 1200ms ease;
	color:#323232;
	
}
.my-role-xisco{
	position:absolute;
	float:left;	
	margin-bottom:10px;
	font-size:19px;
	left:-205%;
	top:35%;
	-o-transition: color 1200ms ease;
	-moz-transition: color 1200ms ease;
	transition: color 1200ms ease;
	color:#F0F0F0;
	
}

.svg-href svg:hover{
	fill:#209DD9;
	opacity:1;
	-o-transition: all 800ms ease;
	-moz-transition: all 800ms ease;
	transition: all 800ms ease
}
.svg-href2 svg:hover{
	fill:#209DD9;
	opacity:1;
	-o-transition: all 800ms ease;
	-moz-transition: all 800ms ease;
	transition: all 800ms ease
}
.svg-href3 svg:hover{
	fill:rgba(70,94,159,1.00);
	opacity:1;
	-o-transition: all 800ms ease;
	-moz-transition: all 800ms ease;
	transition: all 800ms ease
}
.svg-href4 svg:hover{
	fill:#ffffff;
	opacity:1;
	-o-transition: all 800ms ease;
	-moz-transition: all 800ms ease;
	transition: all 800ms ease
}
.role-personal:hover .my-role-xisco{
	left:-75%;
	-o-transition: all 800ms ease;
	-moz-transition: all 800ms ease;
	transition: all 800ms ease;
	
}
.role-avada:hover .my-role-xisco{
	left:-75%;
	-o-transition: all 800ms ease;
	-moz-transition: all 800ms ease;
	transition: all 800ms ease;
	
}
.role-shopisoft:hover .my-role{
	left:-75%;
	-o-transition: all 800ms ease;
	-moz-transition: all 800ms ease;
	transition: all 800ms ease;
	
}
.role-tmp:hover .my-role{
	left:-75%;
	-o-transition: all 800ms ease;
	-moz-transition: all 800ms ease;
	transition: all 800ms ease;
	
}
.role-shopisoft svg{
	fill:rgba(152,152,152,1.00);
	-o-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	transition: all 500ms ease;
}
.role-personal svg{
	fill:#d94362;
	-o-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	transition: all 500ms ease;
}
.role-avada svg{ 
	fill:rgba(18,156,60,1.00);
	-o-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	transition: all 500ms ease;
}
.role-tmp svg{
	fill:#9e9e9e;
	-o-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	transition: all 500ms ease;
}
.info{
	width: 35%;
    float: right;
    padding: 80px;
    height:100%;
	position: relative;
}	
section .info .text{
	position: absolute;
    top: 8%;
	
}
.text .bio-h1{
	font-size:2.5em;
	color:rgba(255,255,255,1.00);
	font-family: 'yekan';
	letter-spacing:1px;
	text-align:center;
	padding:3% 0%;
	color:rgba(23,23,23,1.00);
}
/*.text .bio-h2{
	font-size:1.3em;
	color:rgba(120,120,120,1.00);
	font-family: 'Coolvetica Rg';
	padding:1% 0%;
	letter-spacing:4px;
}*/
.text .bio-hr{
	width: 250px;
    text-align:center;
    border: none;
    height: 3px;
    margin:0 auto;
	margin-bottom:2em;
	margin-top:1em;
	margin-top:-20px;
	background-color: transparent;
}
.text .bio-passage{
	font-size: 14px;
    line-height: 2.0;
	text-align:center;
    margin: 0 auto;
    font-weight: 400;
  font-family: 'yekan';
    width: 80%;
	padding-right:10%;
	padding-left:10%;
    max-width: 830px;	
	color:rgba(43,43,43,1.00);
	height:100%;
}
.text .bio-buttom{
	float: left;
    font-family: 'caviar_dreamsregular';
    font-size: 0.9em;
    letter-spacing: 3px;
    display: block;
    clear: both;
    margin: 3.9em 0;
    position: relative;
}
.bio-buttom a{
	background-color:rgba(120,120,120,1.00);
	padding: 0.8em 1.8em;
	text-decoration:none;
	color:rgba(0,0,0,1.00);	
	text-transform: uppercase;
    -webkit-backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
	border-radius:25px;
	transition: background-color 0.3s, color 0.3s;
	border:1 px solid transparent;
}
.bio-buttom :hover{
	background-color:rgba(23,23,23,1.00);
	color:rgba(228,228,228,1.00);
	border-color:rgba(251,251,251,1.00);
}
.bio-buttom :hover #section2 {
	background-image:url(image/biography.png);
	background-position: 35% 50%;
	transition: 0.2s ease-in-out;
	background:rgba(255,255,255,1.00);
 }
#section3 {
	background:url(image/shopisoft.png) , url(image/section-3-raw-new1900x966.jpg) ;
    background-size: 50% , cover;
    background-position: 50% 50% , center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: static;
    transition: 1s ease-in-out;
	
}
#section3 .info{
	background:rgba(219,219,219,0.70);
}

section .info .text{
	position: absolute;
    top: 8%;
	
    
}
.text .shopisoft-h1{
	font-size:3em;
	color:rgba(39,39,39,1.00);
	font-family: 'helveticaneuecyrlight';
	font-weight: 500;
	padding:3% 0%;
	color:rgba(39,39,39,1.00);
}
.text .shopisoft-h2{
	font-size:1.3em;
	color:rgba(152,152,152,1.00);
	font-family: 'yekan';
	padding:1% 0%;
	direction:rtl;
	margin-right:25%;
}
.text .shopisoft-hr{
	width: 150px;
    border: none;
    height: 1px;
    margin: 1.0em 0px;
	background:rgba(152,152,152,1.00);
	direction:rtl;
	margin-right:25%;
	float:right;
}
.text .shopisoft-passage{
	font-size: 1.2em;
    line-height: 1.5;
    margin: 0;
    font-weight: 400;
   font-family: 'yekan';
    width: 70%;
    max-width: 830px;	
	color:rgba(39,39,39,1.00);
	float:right;
	margin-right:25%;
	direction:rtl;
}
.text .shopisoft-buttom{
    font-family: 'yekan';
    font-size: 1.0em;
    letter-spacing: 1px;
    display: block;
    clear: both;
    margin: 3.9em 0;
    position: relative;
    margin-right:25%;
	float:right;
	width:100%;
	transition: background-color 0.7s, color 0.7s;
}
.shopisoft-buttom a{
	 font-family: 'yekan';
	background:rgba(152,152,152,1.00);
	padding: 0.8em 2.3em;
	text-decoration:none;
	color:rgba(255,255,255,1.00);	
	text-transform: uppercase;
    -webkit-backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
	border-radius:10px;
	transition: background-color 0.7s, color 0.7s;
	border:1 px solid transparent;
}

#section4 {
	background:url(image/personal-v2.png) , url(image/section-4-dark-background-1900x1040.jpg);
    background-size: 50% , cover;
    background-position: 50% 50% , center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: static;
    transition: 1s ease-in-out;
	
}
#section4 .info{
	background:rgba(40,33,43,0.80);
}
section .info .text{
	position: absolute;
    top: 8%;
	
    
}
.text .lamp-h1{
	font-size:3em;
	color:#FFFFD2;
	font-family: 'helveticaneuecyrlight';
	font-weight: 500;
	padding:3% 0%;
}
.text .lamp-h2{
	font-size:1.3em;
	color:#FFFFD2;
	font-family: 'yekan';
	padding:1% 0%;
	direction:rtl;
	margin-right:25%;
}
.text .lamp-hr{
	width: 150px;
    border: none;
    height: 1px;
    margin: 1.0em 0px;
	background:#FFFFD2;
	direction:rtl;
	margin-right:25%;
	float:right;
}
.text .lamp-passage{
	font-size: 1.2em;
    line-height: 1.5;
    margin: 0;
    font-weight: 400;
   font-family: 'yekan';
    width: 70%;
    max-width: 830px;	
	color:#FFFFEF;
	float:right;
	margin-right:25%;
	direction:rtl;
}
.text .lamp-buttom{
	font-family: 'yekan';
    font-size: 1.0em;
    letter-spacing: 1px;
    display: block;
    clear: both;
    margin: 3.9em 0;
    position: relative;
    margin-right:25%;
	float:right;
	width:100%;
	transition: background-color 0.7s, color 0.7s;
    
}
.lamp-buttom a{
	font-family: 'yekan';
	background: -webkit-linear-gradient(left, #E7D9E6, #E7B4E3);
	background: linear-gradient(to right, #E7D9E6, #E7B4E3);
	padding: 0.5em 2.3em;
	text-decoration:none;
	color:rgba(255,255,255,1.00);	
	text-transform: uppercase;
    -webkit-backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
	border-radius:25px;
	transition: background-color 0.7s, color 0.7s;
	border:1 px solid transparent;
}
.lamp-buttom :hover{
	background-color:rgba(0,0,0,1.00);
	color:rgba(255,255,255,1.00);
	border-color:rgba(251,251,251,1.00);
}
#section5 {
	background:url(image/tmp.png) , url(image/section-5-bg-triangles1900x1058.jpg);
    background-size: 50% , cover;
    background-position: 50% 50% , center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: static;
    transition: 1s ease-in-out;
	
}
#section5 .info{
	background:rgba(128,132,135,0.70);
}
section .info .text{
	position: absolute;
    top: 8%;
	
    
}
.text .aboutme-h1{
	font-size:3em;
	color:#EDEDED;
	font-family: 'helveticaneuecyrlight';
	letter-spacing:2px;
	padding:3% 0%;
}
.text .aboutme-h2{
	font-size:1.3em;
	color:rgba(70,94,159,1.00);
	letter-spacing:1px;
	font-family: 'yekan';
	padding:1% 0%;
	direction:rtl;
	margin-right:25%;
}
.text .aboutme-hr{
	width: 150px;
    border: none;
    height: 1px;
    margin: 1.0em 0px;
	color:rgba(70,94,159,1.00);
	background-color:rgba(70,94,159,1.00);
	direction:rtl;
	margin-right:25%;
	float:right;
}
.text .aboutme-passage{
	font-size: 1.2em;
    line-height: 1.5;
    margin: 0;
    font-weight: 400;
    font-family: 'yekan';
    max-width: 830px;	
	color:#EDEDED;
    width: 70%;
	float:right;
	margin-right:25%;
	direction:rtl;
}
.text .aboutme-buttom{
    font-family: 'yekan';
    font-size: 1.0em;
    letter-spacing: 1px;
    display: block;
    clear: both;
    margin: 3.9em 0;
    position: relative;
    margin-right:25%;
	float:right;
	width:100%;
	transition: background-color 0.7s, color 0.7s;
}
.aboutme-buttom a{
	 font-family: 'yekan';
	background:rgba(70,94,159,1.00);
	padding: 0.8em 2.3em;
	text-decoration:none;
	color:rgba(255,255,255,1.00);	
	text-transform: uppercase;
    -webkit-backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
	border-radius:10px;
	transition: background-color 0.7s, color 0.7s;
	border:1 px solid transparent;
}
.aboutme-buttom :hover{
	background-color:rgba(107,107,107,1.00);
	color:rgba(255,255,255,1.00);
	border-color:rgba(251,251,251,1.00);
}
#section6 {
	background:url(image/avada.png) , url(image/section-6-bg.jpg);
   background-size: 50% , cover;
    background-position: 50% 50% , center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: static;
    transition: 1s ease-in-out;
	
}
#section6 .info{
	background:rgba(253,253,253,0.70);
}
section .info .text{
	position: absolute;
    top: 8%;
	
    
}
.text .games-h1{
	font-size:3em;
	color:rgba(59,59,59,1.00);
	font-family: 'helveticaneuecyrlight';
	letter-spacing:2px;
	padding:3% 0%;
}
.text .games-h2{
	font-size:1.3em;
	color:rgba(18,156,60,1.00);
	letter-spacing:1px;
	font-family: 'yekan';
	padding:1% 0%;
	direction:rtl;
	margin-right:25%;
}
.text .games-hr{
	width: 150px;
    border: none;
    height: 1px;
    margin: 1.0em 0px;
	color:rgba(84,142,43,1.00);
	background-color:rgba(18,156,60,1.00);
	direction:rtl;
	margin-right:25%;
	float:right;
}
.text .games-passage{
	font-size: 1.2em;
    line-height: 1.5;
    margin: 0;
    font-weight: 400;
    font-family: 'yekan';
    max-width: 830px;	
	color:rgba(59,59,59,1.00);
    width: 70%;
	float:right;
	margin-right:25%;
	direction:rtl;
}
.text .games-buttom{
	 font-family: 'yekan';
    font-size: 1.0em;
    letter-spacing: 1px;
    display: block;
    clear: both;
    margin: 3.9em 0;
    position: relative;
    margin-right:25%;
	float:right;
	width:100%;
	transition: background-color 0.7s, color 0.7s;
    
}
.games-buttom a{
	font-family: 'yekan';
	background:rgba(18,156,60,1.00);
	padding: 0.8em 2.3em;
	text-decoration:none;
	color:rgba(255,255,255,1.00);	
	text-transform: uppercase;
    -webkit-backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
	border-radius:10px;
	transition: background-color 0.7s, color 0.7s;
	border:1 px solid transparent;
}
.games-buttom :hover{
	background-color:rgba(107,107,107,1.00);
	color:rgba(255,255,255,1.00);
	border-color:rgba(251,251,251,1.00);
}
#section7 {
	background:url(image/music.png) #A4A4A4;
    background-size: 70%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: static;
    transition: 1s ease-in-out;
	
}
#section7 .info{
	background: rgba(87,87,87,0.90);
}
section .info .text{
	position: absolute;
    top: 8%;
	
    
}
.text .music-h1{
	font-size:3em;
	color:rgba(239,239,239,1.00);
	font-family: 'dorielregular';
	letter-spacing:2px;
	padding:3% 0%;
}
.text .music-h2{
	font-size:1.3em;
	color:rgba(207,50,123,1.00);
	font-family: 'Coolvetica Rg';
	padding:1% 0%;
	letter-spacing:4px;
}
.text .music-hr{
	width: 150px;
    float: left;
    border: none;
    height: 1px;
    margin: 1.0em 0px;
	color:rgba(207,50,123,1.00);
	background-color:rgba(207,50,123,1.00);
}
.text .music-passage{
	font-size: 1.2em;
    line-height: 1.5;
    margin: 0;
    font-weight: 400;
    font-family: 'qlassik_mediumregular'; 
    float:left;
    width: 50%;
    max-width: 830px;	
	color:rgba(239,239,239,1.00);
}
#section8 {
	background:url(image/movies.png) #2D353F;
    background-size: 70%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: static;
    transition: 1s ease-in-out;
	
}
#section8 .info{
	background:rgba(59, 72, 88, 0.9);
}

section .info .text{
	position: absolute;
    top: 8%;
	
    
}
.text .movie-h1{
	font-size:3em;
	color:rgba(255,255,255,1.00);
	font-family: 'dorielregular';
	letter-spacing:2px;
	padding:3% 0%;
}
.text .movie-h2{
	font-size:1.3em;
	color:#ccc4ae;
	font-family: 'Coolvetica Rg';
	padding:1% 0%;
	letter-spacing:4px;
}
.text .movie-hr{
	width: 150px;
    float: left;
    border: none;
    height: 1px;
    margin: 1.0em 0px;
	color:#ccc4ae;
	background-color:#ccc4ae;
}
.text .movie-passage{
	font-size: 1.2em;
    line-height: 1.5;
    margin: 0;
    font-weight: 400;
    font-family: 'qlassik_mediumregular'; 
    float:left;
    width: 50%;
    max-width: 830px;	
	color:rgba(255,255,255,1.00);
}
#section9 {
	background-color: #fff;
    background-size: 70%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: static;
    transition: 1s ease-in-out;
	
}
#section9{
	height:auto;	
}
#section9 .info{
	height:auto;
	float:none;
	text-align:center;
	margin:0 auto;
}	
#section9 h1{
	font-size: 3.325em;
	line-height: 1.6;
	margin: 0;
	font-weight: 700;
	
	color: #182327;
	padding-bottom:10px;
	font-family: 'yekan';
}

#section9 .info .text{
	position: absolute;
    color: #b8b8b8;
    font-weight: 400;
    line-height: 26px;
	text-align: center;
	font-family: 'yekam';
	font-size:1.3em;
	height:auto;
	top:10%;
}
#section9 .info .text p{
margin-bottom:30px;	
width:40%;
}
#section9 .info .text a{
	color: #cdc8b6;
	transition: 0.4s all linear;	
	text-decoration:none;
	padding:0.6em 1.7em;
	margin-top:20px;
	border-radius:35px;
}
#section9 .info .text a:hover{
	color: #182327;
	transition: 0.4s all linear;
}
#section9 .info .text .button{
	float: none;
	margin-top:20px;
	font-size: 1em;
	background: #cdc8b6;
	color: #FFF;
	letter-spacing:5px;
	
}

.hideme
{
    opacity:0;
}

.cbp-fbscroller > nav {
	position: fixed;
	z-index: 9999;
	right: 50px;
	top: 50%;
	width: 14px;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.cbp-fbscroller > nav a {
	display: block;
	position: relative;
	z-index: 9999;
	color: transparent;
	width: 14px;
	height: 14px;
	outline: none;
	margin: 18px 0;
	border-radius: 50%;
	border: 1px solid rgba(188,188,188,1.00);
	transition:0.2s all linear;
}

.no-touch .cbp-fbscroller > nav a:hover {
	background: rgba(255,255,255,0.6);
	transition:0.2s all linear;
}

.cbp-fbscroller > nav a.cbp-fbcurrent {
	background: #fff;
}

/* background-attachment does the trick */
.cbp-fbscroller section {
	position: relative;
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
}

.no-touch .cbp-fbscroller section {
	background-attachment: fixed;
}
/*.wow {
  visibility: visible !important;
  -webkit-animation: none !important;
     -moz-animation: none !important;
       -o-animation: none !important;
      -ms-animation: none !important;
          animation: none !important;
}*/
.shareicon2  {
	border: 4px double #4f5b60;
		color: #abab81;      
		border-radius: 50%;
      display: inline-block;
	  width: 50px;
  	  height: 45px;
 	  padding: 11px;
      position: relative;
      background: transparent;
      transition: all 0.2s ease;
      text-decoration: none;
      margin: 22px 8px;
	  font-size:5px;
      
    }
	.shareicon2:hover {
    border: 4px solid #abab81;
    background: #abab81;
    color: #FFF;
    top: -2px;
    transition: all 0.2s ease;
	}
	#avatar {
	width: 150px;
	height: 150px;
	float:left;
	margin:0 auto;
}
.mobileinfo{
display:none;	
}
/*Responsive*/
@media screen and (device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2) {
	#section2, #section3, #section4, #section5, #section6, #section7, #section8, #section9 {
		background-attachment: scroll!important;
	}
	#section1{
		
	}

	.wow {
  visibility: visible !important;
  -webkit-animation: none !important;
     -moz-animation: none !important;
       -o-animation: none !important;
      -ms-animation: none !important;
          animation: none !important;
}

}

@media only screen and (max-width: 1460px) {
    /* phones */

section .info h1{
	font-size: 3.0em;
}

}
@media only screen and (min-width: 978px) {
	.text .bio-passage{
	font-size:1em;	
	width:95%;
	padding-left:2.5%;
	padding-right:2.5%;
}
}

@media only screen and (min-width: 768px) {
    /* tablets and desktop */
	
	.intro {
	padding-top: 190px;
	padding-bottom: 290px;
	text-align: left;
}
#section2 {
	background-image: url(image/section-2-alternate-bg.jpg);
	background-position:center;
	background-attachment:fixed;
	background-repeat:no-repeat;
	background-size:cover;
	height:100%;
	
}

.text .bio-h1{
	font-size:3.5em;
}
.text .bio-hr{
	width: 300px;
	margin-top:-45px;
}
.text .bio-passage{
	font-size:1em;	
	width:90%;
	padding-left:5%;
	padding-right:5%;
}
.intro:before {
	top: 42%;
	background-image: url(../images/mobile-background/rossum-background@3x.jpg);
	background-size: 75%
}



.introWiring {
	
	position: absolute;
	top: -40px;
	left: 65%;
	z-index: -3;
	margin-left: -300px;
	width: 1418px;
	height: 632px;
	opacity: 0.7;
    
}
.introWiring.view-onlyWiring .introWiring-canvasWrap {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0
}
.list {
	font-size: 14px;
	color: #5e626a;
	text-align: left;
	margin: 30px auto;
	line-height: 2
}
.list:after, .list:before {
	content: " ";
	display: table
}
.list:after {
	clear: both
}
.list-col {
	width: 50%;
	float: left;
	padding: 0 15px
}
}
@media only screen and (max-width: 767px) {

  section {
  	position: relative;
  	background-attachment: scroll!important;
  	background-size: 90% , cover!important;
  	background-position: center 45%!important;
  }
  #section1{
	  background-size: 100%!important;
  }
  .role-shopisoft{
	display:none
  }
  .role-personal{
	display:none
  }
  .role-tmp{
	display:none
  }
	.role-avada{
	display:none
  }

	.wow {
  visibility: visible !important;
  -webkit-animation: none !important;
     -moz-animation: none !important;
       -o-animation: none !important;
      -ms-animation: none !important;
          animation: none !important;
}

.particles-js {
	display: none;
	visibility: hidden;
}

 section .info {
 	display: none;
 }

.mobileinfo {
	display: inline-block;
	width: 100%;
	position: relative;
	bottom: 0px;
	text-align: center;
	top: 58%;
}

.mobileinfo button {
	float: none;
	margin: 0 auto;
}

.mobileinfo h1 {
	font-size: 2.525em;
	line-height: 1.1;
	margin: 60px 0;
	margin-bottom:50px;
	font-weight: 500;
	color:#030303;
	font-family: 'helveticaneuecyrlight';
}
.mobileinfo-xisco h1{
	font-size: 2.525em;
	line-height: 1.1;
	margin: 60px 0;
	margin-bottom:50px;
	font-weight: 500;
	color:#FFFFD2;
	font-family: 'helveticaneuecyrlight';
	}
	.mobileinfo-avada h1{
	font-size: 2.525em;
	line-height: 1.1;
	margin: 60px 0;
	margin-bottom:50px;
	font-weight: 500;
	color:rgba(255,255,255,1.00);
	font-family: 'helveticaneuecyrlight';
	}
.mobileinfo h2{
font-size:0.9em;
line-height:1.6;
margin:-10px 0;
color:rgba(207,207,207,1.00);
font-family: 'helveticaneuecyrlight';

}
.game-mobileinfo-h3{
	font-size:0.7em;
	margin-bottom:-10px;
	letter-spacing:3px;
	color:rgba(255,154,26,1.00);
	font-family: 'helveticaneuecyrlight';

}
.music-mobileinfo-h3{
	font-size:0.7em;
	margin-bottom:-10px;
	letter-spacing:3px;
	color:rgba(207,50,123,1.00);
	font-family: 'helveticaneuecyrlight';
}
.movie-mobileinfo-h3{
	font-size:0.7em;
	margin-bottom:-10px;
	letter-spacing:3px;
	color:#ccc4ae;
	font-family: 'helveticaneuecyrlight';
}
#section3 {
	/*background:#7DAC88!important;*/

}

 section .info h1{
	font-size: 2.0em;
}

section .info hr{
display: none;
}

  section .info {
  width: 100%;
  background: rgba(24, 33, 38, 0.0)!important;
  padding: 40px;
  height: 200px;
  min-height: 200px;
  position: absolute;
  bottom: 0;

}

section .info p{
  display: none;
}

section .info .text{
  width: auto;
}

nav {
	display: none;
}

.bio-buttom{
	margin: 1em 0;
	background-color:rgba(120,120,120,1.00);
	padding: 0.8em 1.8em;
	text-decoration:none;
	color:rgba(0,0,0,1.00);	
	text-transform: uppercase;
    -webkit-backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
	border-radius:25px;
	transition: background-color 0.3s, color 0.3s;
	border:1 px solid transparent;
	margin-top:30px;
	letter-spacing:3px;
	}
.shopisoft-buttom{
	margin: 1em 0;
	font-family: 'yekan';
	background: -webkit-linear-gradient(left, #ad1f4d,#c733cc);
	background: linear-gradient(to right, #ad1f4d,#c733cc);
	padding: 0.8em 1.8em;
	text-decoration:none;
	color:rgba(255,255,255,1.00);	
	text-transform: uppercase;
    -webkit-backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
	border-radius:25px;
	transition: background-color 0.3s, color 0.3s;
	border:1 px solid transparent;
	margin-top:30px;
	letter-spacing:1px;
	}
	.tmp-buttom{
	margin: 1em 0;
	font-family: 'yekan';
	background: -webkit-linear-gradient(left, #2b499b,#465E9F);
	background: linear-gradient(to right, #2b499b,#465E9F);
	padding: 0.8em 1.8em;
	text-decoration:none;
	color:#FFFFFF;	
	text-transform: uppercase;
    -webkit-backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
	border-radius:25px;
	transition: background-color 0.3s, color 0.3s;
	border:1 px solid transparent;
	margin-top:30px;
	letter-spacing:1px;
	}
	.avada-buttom{
	margin: 1em 0;
	font-family: 'yekan';
	background-color:rgba(18,156,60,1.00);
	padding: 0.8em 1.8em;
	text-decoration:none;
	color:#FFFFFF;	
	text-transform: uppercase;
    -webkit-backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
	border-radius:25px;
	transition: background-color 0.3s, color 0.3s;
	border:1 px solid transparent;
	margin-top:30px;
	letter-spacing:1px;
	}
	.lamp-buttom{
	margin: 1em 0;
	background-color:rgba(168,168,168,1.00);
	padding: 0.8em 1.8em;
	text-decoration:none;
	color:rgba(255,255,255,1.00);	
	text-transform: uppercase;
    -webkit-backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
	border-radius:25px;
	transition: background-color 0.3s, color 0.3s;
	border:1 px solid transparent;
	margin-top:30px;
	letter-spacing:3px;
	}

#section1 > .header1 {
  padding: 0;
  position: absolute;
  z-index: 1000;
  top: 50%;
  width: 300px;
  height: 200px;
  left: 50%;
  margin-top: -100px;
  margin-left: -150px;
  text-align: center;
  background-size:auto;
}#section1 > .header2 {
  padding: 0;
  position: absolute;
  z-index: 999;
  top: 65%;
  width: 300px;
  height: 200px;
  left: 50%;
  margin-top: -100px;
  margin-left: -150px;
  text-align: center;
  background-size:auto;
}
section #section9 {
  text-align: center;
  top: 50%;
  width: 300px;
  /*height: 500px;*/
  /*left: 50%;*/
  /*margin-top: -200px;
  margin-left: -150px;*/
  
  font-size: 1.2em;
  position: absolute;
  color: #b8b8b8;
  font-weight: 400;
  line-height: 26px;
}


#section1 > header h1 {
	font-size: 4.6em;
}


}
@media only screen and (max-width: 767px) and (orientation: portrait) {
    /* portrait phones */
}
@media only screen and (min-width: 1248px){
	#section1, #section2, #section3, #section4, #section5, #section6, #section7, #section8 {
		/*min-height:1000px!important;
}
section .info{
min-height:840px;	
}*/
/*section .info .text p{
width:60%;	
}
#section9 .info .text p{
width:100%!important;	
}*/
}
.header1 {
	left:30%;
}
.header2{
	left:56%;
	top:70%;	
}
.h1{
    font-size: 7.725em;	
}
/*.h1-2{
	font-size: 6.825em;	
}*/
.h2_heading{
	font-size: 5.5em;	
}
}
/* Preload Effect*/
#preloader {
    background-color: #2d4654;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9999999;
    width: 100%;
    height: 100%;
    
}
#loading-animation {
    background-image: url(image/m.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 80%;
    height: 200px;
    left: 50%;
    margin: -100px 0 0 -100px;
    position: absolute;
    top: 50%;
    width: 200px;
    -webkit-animation:fadeinout 1.5s linear infinite;
    -moz-animation:fadeinout 1.5s linear infinite;
    animation:fadeinout 1.5s linear infinite;
}

@-webkit-keyframes fadeinout {
  0%   { opacity: 0; }
  50%   { opacity: 0.5; }
  100% { opacity: 0; }
}
@-moz-keyframes fadeinout {
  0%   { opacity: 0; }
  50%   { opacity: 0.5; }
  100% { opacity: 0; }
}
@-o-keyframes fadeinout {
  0%   { opacity: 0; }
  50%   { opacity: 0.5; }
  100% { opacity: 0; }
}
@keyframes fadeinout {
  0%   { opacity: 0; }
  50%   { opacity: 0.5; }
  100% { opacity: 0; }
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #B7B299;
    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}
 
#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #A49B6E;
    -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
      animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}
 
#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #C7AC4E;
    -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
      animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}
 
@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}
/*INTRO CSS*/
.intro {
	position: relative;
	margin: 0 auto;
	padding: 0 47px;
	text-align: left;
	z-index:5;
		overflow:hidden;
}
.textGradient {
	color:#BB070A;
}
.textGradient-cyan {
	background: -webkit-linear-gradient(left, #38CCB7, #099BD8);
	background: linear-gradient(to right, #38CCB7, #099BD8);
	text-fill-color: transparent;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-moz-background-clip: text;
	-moz-text-fill-color: transparent;
	-o-background-clip: text;
	-o-text-fill-color: transparent;
	-ms-background-clip: text;
	-ms-text-fill-color: transparent;
	white-space: nowrap
}

.textGradient-red {
	background: -webkit-linear-gradient(left, #C84444, #CD201F);
	background: linear-gradient(to right, #C84444, #CD201F);
	text-fill-color: transparent;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-moz-background-clip: text;
	-moz-text-fill-color: transparent;
	-o-background-clip: text;
	-o-text-fill-color: transparent;
	-ms-background-clip: text;
	-ms-text-fill-color: transparent;
	white-space: nowrap
}
.textGradient-pink {
	background: -webkit-linear-gradient(left, #E7D9E6, #E7B4E3);
	background: linear-gradient(to right, #E7D9E6, #E7B4E3);
	text-fill-color: transparent;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-moz-background-clip: text;
	-moz-text-fill-color: transparent;
	-o-background-clip: text;
	-o-text-fill-color: transparent;
	-ms-background-clip: text;
	-ms-text-fill-color: transparent;
	white-space: nowrap
}
.textGradient-bluefb {
	background: -webkit-linear-gradient(left, #506798, #3B5998);
	background: linear-gradient(to right, #3B5998, #3B5998);
	text-fill-color: transparent;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-moz-background-clip: text;
	-moz-text-fill-color: transparent;
	-o-background-clip: text;
	-o-text-fill-color: transparent;
	-ms-background-clip: text;
	-ms-text-fill-color: transparent;
	white-space: nowrap
}
.textGradient-blueins {
	background: -webkit-linear-gradient(left, #5D74E5, #405DE6);
	background: linear-gradient(to right, #5D74E5, #405DE6);
	text-fill-color: transparent;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-moz-background-clip: text;
	-moz-text-fill-color: transparent;
	-o-background-clip: text;
	-o-text-fill-color: transparent;
	-ms-background-clip: text;
	-ms-text-fill-color: transparent;
	white-space: nowrap
}
.textGradient-bluetwi {
	background: -webkit-linear-gradient(left, #55B6F3, #1DA1F2);
	background: linear-gradient(to right, #55B6F3, #1DA1F2);
	text-fill-color: transparent;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-moz-background-clip: text;
	-moz-text-fill-color: transparent;
	-o-background-clip: text;
	-o-text-fill-color: transparent;
	-ms-background-clip: text;
	-ms-text-fill-color: transparent;
	white-space: nowrap
}.textGradient-bluetele {
	background: -webkit-linear-gradient(left, #57A3D1, #0B82CB);
	background: linear-gradient(to right, #57A3D1, #0B82CB);
	text-fill-color: transparent;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-moz-background-clip: text;
	-moz-text-fill-color: transparent;
	-o-background-clip: text;
	-o-text-fill-color: transparent;
	-ms-background-clip: text;
	-ms-text-fill-color: transparent;
	white-space: nowrap
}
/* PARALLAX */
.c404-header-content, .header, .home-header-content, .module .back-content, .nav, .vert-center, .work-header-content {
	vertical-align: middle
}
.inner-home-header {
	display: table;
	width: 100%;
	height: 100vh;
	opacity: 1;
	position: relative;
	-webkit-transition: opacity 350ms ease-out;
	-moz-transition: opacity 350ms ease-out;
	-o-transition: opacity 350ms ease-out;
	transition: opacity 350ms ease-out;
	
}
.inner-home-header.fadeout {
	opacity: 0
}
.home-header-content {
	position: relative;
	display: table-cell;
	text-align: center;
	padding: 0 20px;
	pointer-events: none
}
.move-wrap {
	width: auto;
	height: auto;
	padding: 0 50px;
	position: relative;
	display: inline-block;
	left: -15%
}
.home-header h1 {
	/*font-size: 100px;*/
	display: inline-block;
	color: #fff;
	margin: 0;
	position: relative;
	z-index: 5
}
.home-header .line-wrap {
	position: absolute;
	width: 100%;
	display: inline-block;
	top: 50%;
	left: 0
}
.home-header .line {
	display: block;
	position: absolute;
	width: 100%;
	height: 6px;
	left: 0;
	top: 50%;
	opacity: .75;
	-webkit-transform: rotate(-22deg);
	transform: rotate(-22deg)
}
.inner-home-header, .inner-work-header{
	background-position: -35px -63px;
	position: absolute;
	bottom: 0%;
	left: 0%;
	margin-left: -9px;
	/*width:100%;*/
}
.line {
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -1px;
	/*height: 40px;*/
	width: 100%;
	pointer-events: none;
	z-index: -1;
	background:#ABABAB
}
.line {
	display: block;
	width: 100%;
	/*height: 40px;*/
	position: absolute;
	bottom: 60px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	-webkit-transition: width 350ms ease-out 350ms;
	-moz-transition: width 350ms ease-out 350ms;
	-o-transition: width 350ms ease-out 350ms;
	transition: width 350ms ease-out 350ms
}
.Bg-color-loop{
	background: linear-gradient(270deg, #fd03d2, #fd4703, #fded03, #03f0fd);
    background-size: 400%;
    -webkit-animation: gradFade 20s ease infinite;
    -moz-animation: gradFade 20s ease infinite;
    animation: gradFade 20s ease infinite;
}
.triangle, .triangle:before, .triangle:after { width: 4em; height: 4em; }
.triangle {
	overflow: hidden;
	position: relative;
	margin: 7em auto 0;
	border-radius: 20%;
	transform: translateY(50%) rotate(30deg) skewY(30deg) scaleX(.866);
	cursor: pointer;
	pointer-events: none;
} 
.triangle:before, .triangle:after {
	position: absolute;
	background: orange;
	pointer-events: auto;
	content: '';
}
.triangle:before {
	border-radius: 20% 20% 20% 53%;
	transform: scaleX(1.155) skewY(-30deg) rotate(-30deg) translateY(-42.3%) 
			skewX(30deg) scaleY(.866) translateX(-24%);
}
.triangle:after {
	border-radius: 20% 20% 53% 20%;
	transform: scaleX(1.155) skewY(-30deg) rotate(-30deg) translateY(-42.3%) 
			skewX(-30deg) scaleY(.866) translateX(24%);
}

/*-----------------------------------------------------------RESPONSIVE------------------------------------------------------*/
@media only screen and (min-width: 768px) {
    /* tablets and desktop */
	.inner-home-header{
	left:-15%;
}
	
.pageload-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	visibility: hidden;
	z-index: 10000
}
.pageload-overlay.show {
	visibility: visible
}
.pageload-overlay svg {
	position: absolute;
	top: 0;
	left: 0
}
.pageload-overlay::after, .pageload-overlay::before {
	content: " ";
	position: fixed;
	opacity: 0;
	visibility: hidden
}
.pageload-overlay svg path {
	fill: #333333
}
.pageload-overlay::after {
	top:50% ;
    left: 50%;
	height: 100%;
	width: 100%;
	z-index: 1000;
	
}
.pageload-overlay::before {
	top: 50%;
	left: 50%;
	width: 70px;
	height: 50px;
	margin-left: -35px;
	margin-top: -26px;
	z-index: 999
}
.pageload-loading.pageload-overlay::after {
	opacity: 1;
	visibility: visible;
	-webkit-transition: opacity .3s;
	transition: opacity .3s
}
.pageload-loading.pageload-overlay::before {
	opacity: 1;
	visibility: visible;
	-webkit-transition: opacity .3s .2s;
	transition: opacity .3s .2s
}
}
@media screen and (max-width:768px) {
	.introWiring{
		display: none;
	}
	.home-header .line {
    display: none;
	}
}

@media screen and (max-width:600px) {
.home-header h1 {
	font-size: 40px
}
}
/*ABOUT*/
.team {
	max-width: 1240px;
	margin: 0 auto;
	padding:2% 2% 3%;
	margin-top: 0px;
	height:100%;
	padding-top:20px;
	padding-top:4%;
}
.team:after, .team:before {
	content: " ";
	display: table
}
.team:after {
	clear: both
}
/*.arrow-dw{
position:relative;
bottom:50px;
left:50%;	
text-align:center!important;
margin:0 auto!important;
}*/

@media (min-width:768px) {
/*.team {
	margin-top: 200px
}*/
.team-bg{
background:url(image/last-section-bg.jpg);	
background-repeat:no-repeat;
background-position:center;
background-size:cover;
margin: 0 auto;
	margin-top: 0px;
	height:100%;
}
}
.team-members {
	
	
}
.team-member-in {
	max-width: 350px;
	margin: 0 auto;
	display: inline-block;
	padding: 25px 30px;
	transition: all 200ms ease-out;
	border-radius: 5px;
}
.team-member-in:hover {
    box-shadow: 0 0 6px rgba(122,122,122,1.00);
	background-color:#120f26;
}
.team-member-image {
	display: inline-block;
	margin: 0 auto;
	padding: 0;
	position: relative;
	border-radius:10%;
	
}
.team-member-image-img {
	border-radius:4px;
	/*box-shadow: 2px 2px 5px #888888*/
	float:right;
}

.team-member-symbol {
	position: absolute;
	bottom: 0;
	left: 15px;
	color: #131313;
	-webkit-transform: translateY(50%);
	transform: translateY(50%)
}
.team-member:nth-child(3) .team-member-symbol {
	left: 8px
}
.team-member:nth-child(4) .team-member-symbol {
	left: 24px
}
.team-member-content {
	padding: 25px 14px;
	max-width: 250px;
	height:auto;
	
}
.team-member:nth-child(4) .team-member-content {
	padding-left: 24px
}
.team-member-name {
	font-weight: 700;
	font-size: 21px;
	font-family:'yekan';
	color:#E1E1E1;
	text-align:center;

}
.team-member-name h2{
	font-size: 21px!important;
}
.team-member-position {
	font-size: 15px;
	color: #9c9fa4;
	font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	text-align:center;
}
.team-member-position h2{
	font-size: 15px!important;
}
.team-member-text {
	padding: 14px 0;
	font-size: 14px;
	line-height: 22px;
	color: #EFEFEF;
	font-family:'yekan';
	direction:rtl;
	float:right;
}
.team-member {
	display: inline-block;
	width: 100%;
	padding: 52px 20px;
}
@media (min-width:768px) {
.team-member {
	float: left;
	width: 50%;
	text-align: center;
}
#section9{
	height:100%;	
}
}

@media (min-width:1100px) {
.team-member {
	width: 50%;
	text-align: center;
}
}
/*FOOTER CONTACT US */

.social-media {
	background: #11131b;
	padding-top: 74px;
	padding-bottom: 64px;
	text-align: center
}
.social-media .container {
	max-width: 100%;
	width: auto;
	display: inline-block
}
.social-media__item-href {
	position: relative
}
.social-media__item-href:hover .social-media__item-title {
	-o-transition: color 500ms ease;
	-moz-transition: color 500ms ease;
	transition: color 500ms ease
}
.social-media__item-href.sm_slug_twitter .social-media__item-title {
	left: -8px
}
.social-media__item-href.sm_slug_twitter svg {
	left: -4px
}
.social-media__item-href.sm_slug_twitter:hover .social-media__item-figure path {
	fill: #1da1f2;
	opacity: 1;
	-o-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	transition: all 500ms ease
}
.social-media__item-href.sm_slug_twitter:hover .social-media__item-title {
	color: #1da1f2
}
.social-media__item-href.sm_slug_youtube .social-media__item-title {
	left: -13px
}
.social-media__item-href.sm_slug_youtube svg {
	left: -9px
}
.social-media__item-href.sm_slug_youtube:hover .social-media__item-figure path {
	fill: #cd201f;
	opacity: 1;
	-o-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	transition: all 500ms ease
}
.social-media__item-href.sm_slug_youtube:hover .social-media__item-title {
	color: #cd201f
}
.social-media__item-href.sm_slug_instagram .social-media__item-title {
	left: -19px
}
.social-media__item-href.sm_slug_instagram svg {
	left: -15px;
}
.social-media__item-href.sm_slug_instagram:hover .social-media__item-figure path {
	fill: #E47847;
	opacity: 1;
	-o-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	transition: all 500ms ease
}
.social-media__item-href.sm_slug_instagram:hover .social-media__item-title {
	color: #E67D3F;
}
.social-media__item-href.sm_slug_facebook .social-media__item-title {
	left: -24px
}
.social-media__item-href.sm_slug_facebook svg {
	left: -21px
}
.social-media__item-href.sm_slug_facebook:hover .social-media__item-figure path {
	fill: #3b5998;
	opacity: 1;
	-o-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	transition: all 500ms ease
}
.social-media__item-href.sm_slug_facebook:hover .social-media__item-title {
	color: #3b5998
}
.social-media__item-href.sm_slug_tripadvisor .social-media__item-title {
	left: -28px
}
.social-media__item-href.sm_slug_tripadvisor svg {
	top: -2px;
	left: -25px
}
.social-media__item-href.sm_slug_tripadvisor:hover .social-media__item-figure path {
	fill: #0B82CB;
	opacity: 1;
	-o-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	transition: all 500ms ease
}
.social-media__item-href.sm_slug_tripadvisor:hover .social-media__item-title {
	color: #0B82CB;
}
.social-media__item-figure {
	display: inline-block;
	margin: 0;
	padding-left: 23px;
	margin-right:-5px;
	
}
.social-media__item-figure svg {
	position: relative
}
.social-media__item-figure svg .svg-single-item {
	fill: #fff;
	fill-rule: evenodd;
	opacity: .26;
	-o-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	transition: all 500ms ease
}
.social-media__item-title {
	display: inline-block;
	color: rgba(255,255,255,0.26);
	font-size: 1.125em;
	margin: 0;
	padding-right: 23px;
	padding-left: 20px;
	-o-transition: color 500ms ease;
	-moz-transition: color 500ms ease;
	transition: color 500ms ease;
	position: relative;
	top: -6px
}

@media screen and (max-width:1100px) {
.social-media__header {
	padding-right: 15px
}
.social-media__item-figure {
	padding-left: 15px
}
.social-media__item-title {
	padding-right: 15px;
	padding-left: 10px
}
}

@media screen and (max-width:935px) {
.social-media {
	padding-top: 32px;
	padding-bottom: 32px
}
.social-media__header {
	display: block;
	padding: 0;
	padding-bottom: 16px
}
.social-media__item {
	padding-left: 16px;
	padding-right: 16px
}
.social-media__item-figure {
	padding-left: 0
}
.social-media__item-figure svg {
	left: 0 !important
}
.social-media__item-title {
	padding-right: 0;
	left: 0 !important
}
}
@media screen and (max-width:767px) {
.social-media__item {
	padding-left: 8px;
	padding-right: 8px
}

}

@media screen and (max-width:650px) {
.social-media .container {
	display: block
}
.social-media__item {
	padding-left: 12px;
	padding-right: 12px
}
.social-media__item.single-sm_slug_tripadvisor {
	padding-bottom: 0
}
.social-media__item-title {
	display: none
}
}
.container {
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px
}
.telegram-layout-img-instagram {
	opacity: 0.4;
	position: relative;
	top: 0px;
	left: 90px;
	display: inline-block;
	
	
}
.telegram-layout-img-telegram {
	opacity: 0.4;
	position: relative;
	top: 40px;
	left: 35px;
	display: inline-block;
	
	
}
.telegram-layout-img img{
	
	
}

.telegram-layout-img-instagram:hover{
	opacity: 1;
	-webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
        transform: scale(1.05);

	
}
.telegram-layout-img-telegram:hover{
	opacity: 1;
	-webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
        transform: scale(1.05);

	
}
.telegram-layout{
	cursor: pointer;
	z-index: 100;
}

.telegram-icon img{
	z-index: 100;
	-webkit-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
	
}
.instagram-layout{
	cursor: pointer;
	z-index: 100;
}

.instagram-icon img{
	z-index: 100;
	-webkit-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
	
}

.icon-holder-top {
	display: inline-block;
	z-index: 9999;
}


.lang-en {
	opacity: 0.4;
	-webkit-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
}
.lang-en:hover {
	opacity: 1;
	-webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
        transform: scale(1.05);
}
.lang-fa {
	opacity: 0.4;
	-webkit-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
	visibility: hidden;
}
.lang-fa:hover {
	opacity: 1;
	-webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
        transform: scale(1.05);
}

@media(min-width:768px) {
.container {
	width: 750px
}
}

@media(min-width:992px) {
.container {
	width: 970px
}
}

@media(min-width:1200px) {
.container {
	width: 1170px
}
}
@media(max-width:768px) {
	.move-wrap{
		left: 0%!important;
	}
	.lang{
		top: 5%;
		left: 55.5%;
	}
	.telegram-layout-img-instagram{
		left: auto!important;
		top: auto!important;
		position: absolute!important;
	}
	.telegram-layout-img-telegram{
		left: auto!important;
		top: auto!important;
		position: absolute!important;
	}
	.telegram-layout {
    position: absolute;
    top: 5.5%;
    left: 45%;
	}
	.instagram-layout {
    position: absolute;
    top: 5.5%;
    left: 33.5%;
	}
	
	html, body, .container, .whole, .cbp-fbscroller, .cbp-fbscroller section{
		top:0px!important;
	}
	.team-member{
		text-align: center;
	}
	.team-member-text{
		color: #323232;
	}
	.team-member-name{
		color:#3F3F3F;
	}
	.mobileinfo h1{
		margin: 30px 0;
    	margin-top: 120px;
	}
	.mobileinfo-xisco h1{
		margin: 110px 0;
	}
}

@media(max-width:400px) {
	.move-wrap{
		left: 3%!important;
	}
	
	.telegram-layout-img-instagram{
		left: 124px;
	}
	.telegram-layout-img-telegram{
		left: 78px;
	}
}
@media(max-width:768px) {
	.mobileinfo h1 {
    margin: 30px 0;
    margin-top: 50px
	}
	.mobileinfo-xisco h1 {
    margin: 60px 0;
}
}

body {
	background: linear-gradient(270deg, #db3273, rgba(70,94,159,1.00), rgba(18,156,60,1.00) ,#FFFFD2);
    background-size: 400%;
    -webkit-animation: gradFade 40s ease infinite;
    -moz-animation: gradFade 40s ease infinite;
    animation: gradFade 40s ease infinite;
}


.member-elements {
	width: 33.3333%;
	padding-left: 0px;
	padding-right: 0px;
	float: left;
}

.member-elements-inner {
	padding-left: 15px;
	padding-right: 15px;
	width: 100%;
}

.member-elements-list {
	display: inline-block;
	position: relative;
	direction: rtl;
}
// html, body {
//   height: 100%;
//   display: -webkit-box;
//   display: -ms-flexbox;
//   display: flex;
//   -webkit-box-align: center;
//       -ms-flex-align: center;
//           align-items: center;
//   -webkit-box-pack: center;
//       -ms-flex-pack: center;
//           justify-content: center;
//   background: #2D4654;
// }

.loader {
  width: 130px;
  height: 170px;
  position: absolute;
  top: 50%;
  left: 50%;transform: translate(-50%, -50%);
}
.loader::before, .loader::after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  bottom: 30px;
  left: 15px;
  z-index: 1;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 20px solid #1b2a33;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.loader::after {
  border-right: 15px solid transparent;
  border-bottom: 20px solid #162229;
}
.loader .getting-there {
  width: 120%;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: -7%;
  font-family: "Lato";
  font-size: 12px;
  letter-spacing: 2px;
  color: white;
}
.loader .binary {
  width: 100%;
  height: 140px;
  display: block;
  color: white;
  position: absolute;
  top: 0;
  left: 15px;
  z-index: 2;
  overflow: hidden;
}
.loader .binary::before, .loader .binary::after {
  font-family: "Lato";
  font-size: 24px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.loader .binary:nth-child(1)::before {
  content: "0";
  -webkit-animation: a 1.1s linear infinite;
          animation: a 1.1s linear infinite;
}
.loader .binary:nth-child(1)::after {
  content: "0";
  -webkit-animation: b 1.3s linear infinite;
          animation: b 1.3s linear infinite;
}
.loader .binary:nth-child(2)::before {
  content: "1";
  -webkit-animation: c 0.9s linear infinite;
          animation: c 0.9s linear infinite;
}
.loader .binary:nth-child(2)::after {
  content: "1";
  -webkit-animation: d 0.7s linear infinite;
          animation: d 0.7s linear infinite;
}
.loader.JS_on::before, .loader.JS_on::after {
  -webkit-transform: scale(1);
          transform: scale(1);
}

@-webkit-keyframes a {
  0% {
    -webkit-transform: translate(30px, 0) rotate(30deg);
            transform: translate(30px, 0) rotate(30deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(30px, 150px) rotate(-50deg);
            transform: translate(30px, 150px) rotate(-50deg);
    opacity: 1;
  }
}

@keyframes a {
  0% {
    -webkit-transform: translate(30px, 0) rotate(30deg);
            transform: translate(30px, 0) rotate(30deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(30px, 150px) rotate(-50deg);
            transform: translate(30px, 150px) rotate(-50deg);
    opacity: 1;
  }
}
@-webkit-keyframes b {
  0% {
    -webkit-transform: translate(50px, 0) rotate(-40deg);
            transform: translate(50px, 0) rotate(-40deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(40px, 150px) rotate(80deg);
            transform: translate(40px, 150px) rotate(80deg);
    opacity: 1;
  }
}
@keyframes b {
  0% {
    -webkit-transform: translate(50px, 0) rotate(-40deg);
            transform: translate(50px, 0) rotate(-40deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(40px, 150px) rotate(80deg);
            transform: translate(40px, 150px) rotate(80deg);
    opacity: 1;
  }
}
@-webkit-keyframes c {
  0% {
    -webkit-transform: translate(70px, 0) rotate(10deg);
            transform: translate(70px, 0) rotate(10deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(60px, 150px) rotate(70deg);
            transform: translate(60px, 150px) rotate(70deg);
    opacity: 1;
  }
}
@keyframes c {
  0% {
    -webkit-transform: translate(70px, 0) rotate(10deg);
            transform: translate(70px, 0) rotate(10deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(60px, 150px) rotate(70deg);
            transform: translate(60px, 150px) rotate(70deg);
    opacity: 1;
  }
}
@-webkit-keyframes d {
  0% {
    -webkit-transform: translate(30px, 0) rotate(-50deg);
            transform: translate(30px, 0) rotate(-50deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(45px, 150px) rotate(30deg);
            transform: translate(45px, 150px) rotate(30deg);
    opacity: 1;
  }
}
@keyframes d {
  0% {
    -webkit-transform: translate(30px, 0) rotate(-50deg);
            transform: translate(30px, 0) rotate(-50deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(45px, 150px) rotate(30deg);
            transform: translate(45px, 150px) rotate(30deg);
    opacity: 1;
  }
}

