@import url(https://fonts.googleapis.com/css?family=League+Script);

html {
  background: url('https://cbwconline.com/IMG/Codepen/Dark-Grey-Repeating-Background.png');
}

body {
  background: radial-gradient(ellipse at center, rgba(0,0,0,0.04) 0%,rgba(0,0,0,0.73) 100%);
    height: 100vh;
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-flow: wrap;
}

h1 {
  animation: flicker-red 0.8s linear infinite;
  font-size: 15vw;
  animation-delay: -0.3s;
}
h2 {
  animation: flicker-green 0.8s linear infinite;
  font-size: 10vw;
}

h1, h2 {
  flex: 0 0 100%;
  text-align: center;
  font-family: "League Script";
  margin: auto;
}

@keyframes flicker-red{
    0%, 14%, 26%,39%, 50%, 84% {
        opacity: 1; 
        color: #ffb2b2; 
        -webkit-filter: blur(1px) drop-shadow(0 0 1px red) drop-shadow(0 0 1px #ff0040) drop-shadow(0 0 2px #ff4000); 
        filter: blur(1px) drop-shadow(0 0 1px red) drop-shadow(0 0 1px #ff0040) drop-shadow(0 0 2px #ff4000);
    }
    
    15%, 25%, 40%, 49%, 85%, 100%  {
        opacity: 0.4; 
        color: #c1b2b2; 
        -webkit-filter: blur(0px) drop-shadow(0 0 0px #320000) drop-shadow(0 0 0px #32000c) drop-shadow(0 0 0px #320d00); 
        filter: blur(0px) drop-shadow(0 0 0px #320000) drop-shadow(0 0 0px #32000c) drop-shadow(0 0 0px #320d00);
    
    }
}

@keyframes flicker-green {
    0%, 14%, 26%,39%, 50%, 84%{
        opacity: 1; color: #b2d8b2; 
        -webkit-filter: blur(1px) drop-shadow(0 0 1px green) drop-shadow(0 0 1px #208000) drop-shadow(0 0 2px #008020); 
        filter: blur(1px) drop-shadow(0 0 1px green) drop-shadow(0 0 1px #208000) drop-shadow(0 0 2px #008020);
    }
    15%, 25%, 40%, 49%, 85%, 100% {
        opacity: 0.4; 
        color: #b2bab2; 
        -webkit-filter: blur(0px) drop-shadow(0 0 0px #001900) drop-shadow(0 0 0px #061900) drop-shadow(0 0 0px #001906); 
        filter: blur(0px) drop-shadow(0 0 0px #001900) drop-shadow(0 0 0px #061900) drop-shadow(0 0 0px #001906);
    }
}